{
  "openapi": "3.0.3",
  "info": {
    "title": "Workspaces Service API",
    "version": "1.0.0",
    "description": "API for managing workspaces, tasks, and comments"
  },
  "servers": [
    {
      "url": "https://api.quiva.ai",
      "description": "Production API server"
    },
    {
      "url": "https://api.microstrate.io",
      "description": "Staging server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/workspaces/spaces": {
      "get": {
        "summary": "List all spaces",
        "operationId": "listSpaces",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.get.spaces",
        "responses": {
          "200": {
            "description": "List of spaces",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpaceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/workspaces/space": {
      "post": {
        "summary": "Create a space",
        "operationId": "createSpace",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.post.space",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpaceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/workspaces/space/{id}": {
      "get": {
        "summary": "Get a space by ID",
        "operationId": "getSpace",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.get.space",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update a space",
        "operationId": "updateSpace",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.patch.space",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSpaceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete a space",
        "operationId": "deleteSpace",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.delete.space",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Space deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workspaces/space/{space_id}/tasks": {
      "get": {
        "summary": "List tasks in a space",
        "operationId": "listTasks",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.get.tasks",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "scheduled",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "How many maximum results should be returned",
            "schema": {
              "type": "integer",
              "default": 300
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "If there are more results than the limit, offset can be used to get to the next batch of results",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Name of the field used for sorting the list of results",
            "schema": {
              "type": "string",
              "default": "created_at"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Should the results be sorted in ascending or descending order relative to sort_by field",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          },
          {
            "name": "created_by",
            "in": "query",
            "description": "Exact match on the user ID of the task creator",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "priority",
            "in": "query",
            "description": "Exact match on priority; comma-separated values to filter by priority",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Exact match on status; comma-separated values to filter by multiple statuses",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Term search on task title",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asignees",
            "in": "query",
            "description": "Comma-separated assignee IDs; at least one must match",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reporter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by creation date. Use a single date or a range as `{start_date},{end_date}`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_at",
            "in": "query",
            "description": "Filter by last-updated date. Use a single date or a range as `{start_date},{end_date}`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scheduled_at",
            "in": "query",
            "description": "Filter by scheduled date. Use a single date or a range as `{start_date},{end_date}`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/workspaces/task": {
      "post": {
        "summary": "Create a task",
        "operationId": "createTask",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.post.task",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/workspaces/tasks": {
      "patch": {
        "summary": "Update multiple tasks",
        "operationId": "updateMultiTask",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.patch.tasks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMultiTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Results indexed by task position in the input array",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/workspaces/task/{id}": {
      "get": {
        "summary": "Get a task by ID",
        "operationId": "getTask",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.get.task",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update a task",
        "operationId": "updateTask",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.patch.task",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete a task",
        "operationId": "deleteTask",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.delete.task",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workspaces/task/{task_id}/comment": {
      "post": {
        "summary": "Create a comment on a task",
        "operationId": "createComment",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.post.comment",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workspaces/task/{task_id}/comments": {
      "get": {
        "summary": "List comments on a task",
        "operationId": "listComments",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.get.comments",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of comments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/workspaces/task/{task_id}/comment/{id}/reaction": {
      "post": {
        "summary": "Add or remove a reaction on a comment",
        "operationId": "reactToComment",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.post.comment-reaction",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentReactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workspaces/task/{task_id}/comment/{id}": {
      "get": {
        "summary": "Get a comment by ID",
        "operationId": "getComment",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.get.comment",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update a comment",
        "operationId": "updateComment",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.patch.comment",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCommentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete a comment",
        "operationId": "deleteComment",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.delete.comment",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workspaces/approvals": {
      "get": {
        "summary": "List approvals for a file",
        "operationId": "listFileApprovals",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.get.approvals",
        "responses": {
          "200": {
            "description": "List of approvals for a file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      },
      "post": {
        "summary": "Create a file approval request.",
        "operationId": "createApproval",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.post.approval",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApprovalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created file approval.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Approval"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/workspaces/approvals/{id}": {
      "get": {
        "summary": "Get an approval by ID",
        "operationId": "getApproval",
        "x-is-public": true,
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.get.approval",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Approval id or signatory external token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Approval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Approval"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete an approval",
        "operationId": "deleteApproval",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.delete.approval",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Approval deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workspaces/approvals/{id}/approve": {
      "patch": {
        "summary": "Approve a file approval",
        "operationId": "approveApproval",
        "x-is-public": true,
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.patch.approval-approve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Approval id or signatory external token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveApprovalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workspaces/approvals/{id}/reject": {
      "patch": {
        "summary": "Reject a file approval",
        "operationId": "rejectApproval",
        "x-is-public": true,
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.patch.approval-reject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Approval id or signatory external token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectApprovalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workspaces/approvals/{id}/events": {
      "get": {
        "summary": "List approvals events",
        "operationId": "listApprovalEvents",
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.get.approval-events",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of approvals events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalEventList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      },
      "post": {
        "summary": "Create an approval event",
        "operationId": "createApprovalEvent",
        "x-is-public": true,
        "x-resource-type": "service",
        "x-resource": "microstrate.workspaces.post.approval-event",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Approval id or signatory external token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovalEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalEvent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SpaceStatus": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "e.g. To Do, In Progress, Done"
          },
          "color": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          },
          "is_visible": {
            "type": "boolean",
            "nullable": true
          },
          "complete": {
            "type": "boolean",
            "description": "If true, when a task reaches this state, it will not be considered overdue past the due date.",
            "example": true
          }
        }
      },
      "CreateSpaceRequest": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the space. Tasks belonging to the space receive IDs prefixed with this value. Must consist of letters, numbers, and underscores only."
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "default_status": {
            "type": "string"
          },
          "statuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpaceStatus"
            }
          },
          "record_config_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "default_record_config_id": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UpdateSpaceRequest": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "default_status": {
            "type": "string"
          },
          "statuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpaceStatus"
            }
          },
          "owner": {
            "type": "string"
          },
          "record_config_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "default_record_config_id": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Space": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "url": {
            "type": "string",
            "readOnly": true,
            "description": "UI URL to navigate directly to this space"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "default_status": {
            "type": "string"
          },
          "statuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpaceStatus"
            }
          },
          "owner": {
            "type": "string",
            "readOnly": true,
            "description": "ID of the user who created the space, set by the backend"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "record_config_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "default_record_config_id": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SpaceList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Space"
            }
          },
          "results_total": {
            "type": "integer"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "url": {
            "type": "string",
            "readOnly": true,
            "description": "UI URL to navigate directly to this task"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "description": "Markdown / rich-text content"
          },
          "asignees": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "created_by": {
            "type": "string",
            "readOnly": true
          },
          "priority": {
            "type": "string"
          },
          "folder": {
            "type": "string"
          },
          "reporter": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "space_id": {
            "type": "string"
          },
          "due_date": {
            "type": "string"
          }
        }
      },
      "CreateTaskRequest": {
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "description": "Markdown / rich-text content"
          },
          "asignees": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "priority": {
            "type": "string"
          },
          "folder": {
            "type": "string"
          },
          "reporter": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "space_id": {
            "type": "string"
          },
          "due_date": {
            "type": "string"
          }
        }
      },
      "UpdateTaskRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CreateTaskRequest"
          },
          {
            "type": "object",
            "required": [
              "id"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "archived": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "UpdateMultiTaskRequest": {
        "type": "object",
        "required": [
          "tasks"
        ],
        "properties": {
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UpdateTaskRequest"
            }
          }
        }
      },
      "TaskList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Task"
            }
          },
          "results_total": {
            "type": "integer"
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "url": {
            "type": "string",
            "readOnly": true,
            "description": "UI URL to navigate directly to this comment"
          },
          "body": {
            "type": "string"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "author": {
            "type": "string",
            "readOnly": true,
            "description": "User ID of the comment author, set by the backend"
          },
          "reactions": {
            "type": "object",
            "readOnly": true,
            "description": "Reactions aggregated by emoji. Keys are emoji characters.",
            "additionalProperties": {
              "$ref": "#/components/schemas/CommentReactionEntry"
            }
          },
          "reply_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "CreateCommentRequest": {
        "type": "object",
        "required": [
          "body"
        ],
        "properties": {
          "body": {
            "type": "string",
            "description": "Plain text or markdown content"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "reply_id": {
            "type": "string"
          }
        }
      },
      "UpdateCommentRequest": {
        "type": "object",
        "properties": {
          "body": {
            "type": "string"
          },
          "reply_id": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          }
        }
      },
      "CommentReactionEntry": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Number of users who reacted with this emoji"
          },
          "users": {
            "type": "array",
            "description": "IDs of users who reacted with this emoji",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CommentReactionRequest": {
        "type": "object",
        "required": [
          "reaction"
        ],
        "properties": {
          "reaction": {
            "type": "object",
            "description": "Map of emoji character to boolean. Set true to add the reaction, false to remove it.",
            "additionalProperties": {
              "type": "boolean"
            },
            "example": {
              "😛": true
            }
          }
        }
      },
      "CommentList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          },
          "results_total": {
            "type": "integer"
          }
        }
      },
      "SignatoryInternal": {
        "type": "object",
        "description": "Internal signatory as returned in a response, including the generated access URL.",
        "properties": {
          "user_id": {
            "type": "string",
            "description": "Unique identifier of the internal user.",
            "example": "3923e55e-285c-414b-adbd-ddf9e68a01ac"
          },
          "url": {
            "type": "string",
            "description": "URL the signatory uses to access the approval.",
            "example": "todo"
          }
        }
      },
      "SignatoryExternal": {
        "type": "object",
        "description": "External signatory as returned in a response, including the generated signing URL.",
        "properties": {
          "full_name": {
            "type": "string",
            "description": "Full name of the external signatory.",
            "example": "Jane Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the external signatory.",
            "example": "jane.doe@example.com"
          },
          "url": {
            "type": "string",
            "description": "Signing URL sent to the external signatory.",
            "example": "todo"
          }
        }
      },
      "FileApprovalEventMetadata": {
        "type": "object",
        "description": "Contextual metadata captured when a signatory acts on an approval.",
        "properties": {
          "ip": {
            "type": "string",
            "description": "IP address the action originated from.",
            "example": "203.0.113.42"
          },
          "user_agent": {
            "type": "string",
            "description": "User agent string of the signatory's client.",
            "example": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36"
          },
          "fingerprint": {
            "type": "string",
            "description": "Device or browser fingerprint hash.",
            "example": "d41d8cd98f00b204e9800998ecf8427e"
          }
        }
      },
      "ApprovalStatus": {
        "type": "string",
        "description": "Current status of a file approval.",
        "enum": [
          "in_progress",
          "approved",
          "rejected"
        ],
        "example": "approved"
      },
      "CreateApprovalRequest": {
        "type": "object",
        "description": "Payload to create a file approval.",
        "properties": {
          "file_subject": {
            "type": "string",
            "description": "Subject of the file under approval.",
            "example": "ms.workspace-files.c3BhY2Vz.VEVTVF9TUEFDRQ.Zm9sZGVyIDE.b3BlbmFwaQ.anNvbg"
          },
          "signatory_internal": {
            "type": "object",
            "description": "Signatory details for clients having registered user.",
            "properties": {
              "user_id": {
                "type": "string",
                "description": "Unique identifier of the internal user.",
                "example": "3923e55e-285c-414b-adbd-ddf9e68a01ac"
              }
            }
          },
          "signatory_external": {
            "type": "object",
            "description": "External signatory details for clients not having registered user.",
            "properties": {
              "full_name": {
                "type": "string",
                "description": "Full name of the external signatory.",
                "example": "Jane Doe"
              },
              "email": {
                "type": "string",
                "format": "email",
                "description": "Email address of the external signatory.",
                "example": "jane.doe@example.com"
              }
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/FileApprovalEventMetadata",
            "description": "Audit metadata associated with the approval."
          }
        }
      },
      "Approval": {
        "type": "object",
        "description": "An approval for a file, tracking the signatory, status, and audit metadata.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the file approval.",
            "example": "1a2b3c4d"
          },
          "file_subject": {
            "type": "string",
            "description": "Subject or title of the file under approval.",
            "example": "ms.workspace-files.c3BhY2Vz.VEVTVF9TUEFDRQ.Zm9sZGVyIDE.b3BlbmFwaQ.anNvbg"
          },
          "task_id": {
            "type": "string",
            "description": "Identifier of the task this approval is associated with.",
            "example": "TEST_SPACE-7"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the approval was created.",
            "example": "2026-07-01T09:15:00Z"
          },
          "created_by": {
            "type": "string",
            "description": "User ID of the person who created the approval.",
            "example": "3923e55e-285c-414b-adbd-ddf9e68a01ac"
          },
          "signatory_internal": {
            "$ref": "#/components/schemas/SignatoryInternal",
            "description": "Internal signatory assigned to the approval."
          },
          "signatory_external": {
            "$ref": "#/components/schemas/SignatoryExternal",
            "description": "External signatory assigned to the approval."
          },
          "status": {
            "$ref": "#/components/schemas/ApprovalStatus",
            "description": "Current status of the approval."
          }
        }
      },
      "ApprovalList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Approval"
            }
          },
          "results_total": {
            "type": "integer"
          }
        }
      },
      "ApproveApprovalRequest": {
        "type": "object",
        "description": "Payload to approve a file approval.",
        "properties": {
          "feedback": {
            "type": "string",
            "description": "Free-text feedback left by the signatory, typically on rejection.",
            "example": "Please correct the payment terms in section 3."
          },
          "metadata": {
            "$ref": "#/components/schemas/FileApprovalEventMetadata",
            "description": "Audit metadata captured for the approval action."
          }
        }
      },
      "RejectApprovalRequest": {
        "type": "object",
        "description": "Payload to reject a file approval.",
        "properties": {
          "feedback": {
            "type": "string",
            "description": "Free-text feedback left by the signatory, typically on rejection.",
            "example": "Please correct the payment terms in section 3."
          },
          "metadata": {
            "$ref": "#/components/schemas/FileApprovalEventMetadata",
            "description": "Audit metadata captured for the approval action."
          }
        }
      },
      "ApprovalEvent": {
        "type": "object",
        "description": "An event emitted when a file approval changes state.",
        "required": [
          "metadata",
          "event_type"
        ],
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/FileApprovalEventMetadata",
            "description": "Audit metadata associated with the event."
          },
          "event_type": {
            "type": "string",
            "description": "Type of the approval event.",
            "example": "approval.approved"
          },
          "feedback": {
            "type": "string",
            "description": "Free-text feedback left by the signatory, typically on rejection.",
            "example": "Please correct the payment terms in section 3."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the event record was captured.",
            "example": "2026-07-07T14:32:10Z"
          }
        }
      },
      "ApprovalEventList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApprovalEvent"
            }
          },
          "results_total": {
            "type": "integer"
          }
        }
      }
    },
    "responses": {
      "SuccessResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Authorization header using the Bearer scheme"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    }
  }
}