{
  "openapi": "3.0.3",
  "info": {
    "title": "quiva.ai Gateway",
    "description": "API service for managing compute resources including collections, functions, containers, and their assets",
    "contact": {
      "email": "support@quiva.ai"
    },
    "license": {
      "name": "Proprietary"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.quiva.ai",
      "description": "Production API server"
    }
  ],
  "tags": [
    {
      "name": "Collections",
      "description": "Operations related to compute collections"
    },
    {
      "name": "Functions",
      "description": "Operations related to serverless functions"
    },
    {
      "name": "Containers",
      "description": "Operations related to containers"
    },
    {
      "name": "Compute Assets",
      "description": "Operations related to compute assets for both functions and containers"
    },
    {
      "name": "Runtimes",
      "description": "Operations related to compute runtimes"
    },
    {
      "name": "Machines",
      "description": "Operations related to machines"
    },
    {
      "name": "Services",
      "description": "Operations related to services"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "api_key_auth": []
    }
  ],
  "paths": {
    "/compute/collections": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get all collections",
        "description": "Retrieves a list of all compute collections",
        "operationId": "getCollections",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.collections",
        "responses": {
          "200": {
            "description": "A list of collections",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Collection"
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of collections",
                          "example": 1
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "multiple_collections": {
                    "summary": "Multiple collections",
                    "value": {
                      "body": {
                        "results": [
                          {
                            "collection_type": "function",
                            "description": "Production serverless functions",
                            "name": "prod-functions",
                            "subject": "ms.compute.123456789.collection",
                            "type": "created",
                            "modified": 1714378974
                          },
                          {
                            "collection_type": "container",
                            "description": "Staging container workloads",
                            "name": "staging-containers",
                            "subject": "ms.compute.123456789.collection",
                            "type": "created",
                            "modified": 1714378000
                          }
                        ],
                        "results_total": 2
                      }
                    }
                  },
                  "empty": {
                    "summary": "No collections",
                    "value": {
                      "body": {
                        "results": [],
                        "results_total": 0
                      }
                    }
                  },
                  "single_collection": {
                    "summary": "Single collection",
                    "value": {
                      "body": {
                        "results": [
                          {
                            "collection_type": "function",
                            "description": "A collection for my compute resources",
                            "name": "my-collection",
                            "subject": "ms.compute.123456789.collection",
                            "type": "created",
                            "modified": 1714378974
                          }
                        ],
                        "results_total": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "post": {
        "tags": [
          "Collections"
        ],
        "summary": "Create a collection",
        "description": "Creates a new compute collection",
        "operationId": "createCollection",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.post.collection",
        "requestBody": {
          "description": "Collection to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionCreate"
              },
              "examples": {
                "function_collection": {
                  "summary": "Function collection",
                  "value": {
                    "name": "api-functions",
                    "description": "API endpoint serverless functions",
                    "collection_type": "function"
                  }
                },
                "container_collection": {
                  "summary": "Container collection",
                  "value": {
                    "name": "web-services",
                    "description": "Web service containers",
                    "collection_type": "container"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Collection created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/Collection"
                    }
                  }
                },
                "examples": {
                  "function_collection_created": {
                    "summary": "Function collection created",
                    "value": {
                      "body": {
                        "collection_type": "function",
                        "description": "API endpoint serverless functions",
                        "name": "api-functions",
                        "subject": "ms.compute.123456789.collection",
                        "type": "created",
                        "modified": 1714378974
                      }
                    }
                  },
                  "container_collection_created": {
                    "summary": "Container collection created",
                    "value": {
                      "body": {
                        "collection_type": "container",
                        "description": "Web service containers",
                        "name": "web-services",
                        "subject": "ms.compute.123456789.collection",
                        "type": "created",
                        "modified": 1714378974
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/collections/{collection_topic}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionTopic"
        }
      ],
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get a collection",
        "description": "Retrieves a specific collection by topic",
        "operationId": "getCollection",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.collection",
        "responses": {
          "200": {
            "description": "Collection details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/Collection"
                    }
                  }
                },
                "examples": {
                  "function_collection": {
                    "summary": "Function collection",
                    "value": {
                      "body": {
                        "collection_type": "function",
                        "description": "Production serverless functions",
                        "name": "prod-functions",
                        "subject": "ms.compute.1714378974.collection",
                        "type": "created",
                        "modified": 1714378974
                      }
                    }
                  },
                  "container_collection": {
                    "summary": "Container collection",
                    "value": {
                      "body": {
                        "collection_type": "container",
                        "description": "Microservices containers",
                        "name": "microservices",
                        "subject": "ms.compute.1714378974.collection",
                        "type": "created",
                        "modified": 1714378974
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "patch": {
        "tags": [
          "Collections"
        ],
        "summary": "Update a collection",
        "description": "Updates an existing collection",
        "operationId": "updateCollection",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.patch.collection",
        "requestBody": {
          "description": "Collection properties to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionUpdate"
              },
              "examples": {
                "update_description": {
                  "summary": "Update description",
                  "value": {
                    "description": "Updated collection description"
                  }
                },
                "update_type": {
                  "summary": "Change type",
                  "value": {
                    "collection_type": "container"
                  }
                },
                "full_update": {
                  "summary": "Full update",
                  "value": {
                    "name": "renamed-collection",
                    "description": "New description",
                    "collection_type": "function"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collection patched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/collections/{collection_topic}/containers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionTopic"
        }
      ],
      "get": {
        "tags": [
          "Containers"
        ],
        "summary": "Get containers by collection",
        "description": "Retrieves all containers belonging to a specific collection",
        "operationId": "getContainersByCollection",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.containers-by-collection",
        "responses": {
          "200": {
            "description": "A list of containers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Container"
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of containers",
                          "example": 1
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "containers_list": {
                    "summary": "Running machines",
                    "value": {
                      "body": {
                        "results": [
                          {
                            "description": "A container for my application",
                            "name": "my-container",
                            "runtime": "docker",
                            "subject": "ms.compute.987654321.container.123456789",
                            "type": "created",
                            "modified": 1714378974
                          }
                        ],
                        "results_total": 1
                      }
                    }
                  },
                  "empty": {
                    "summary": "No machines",
                    "value": {
                      "body": {
                        "results": [],
                        "results_total": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/collections/{collection_topic}/functions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionTopic"
        }
      ],
      "get": {
        "tags": [
          "Functions"
        ],
        "summary": "Get functions by collection",
        "description": "Retrieves all functions belonging to a specific collection",
        "operationId": "getFunctionsByCollection",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.functions-by-collection",
        "responses": {
          "200": {
            "description": "A list of functions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Function"
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of functions",
                          "example": 1
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "functions_list": {
                    "summary": "Running machines",
                    "value": {
                      "body": {
                        "results": [
                          {
                            "description": "A serverless function",
                            "name": "my-function",
                            "runtime": "nodejs",
                            "subject": "ms.compute.987654321.function.123456789",
                            "type": "created",
                            "modified": 1714378974
                          }
                        ],
                        "results_total": 1
                      }
                    }
                  },
                  "empty": {
                    "summary": "No machines",
                    "value": {
                      "body": {
                        "results": [],
                        "results_total": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/functions": {
      "get": {
        "tags": [
          "Functions"
        ],
        "summary": "Get all functions",
        "description": "Retrieves a list of all functions",
        "operationId": "getFunctions",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.functions",
        "responses": {
          "200": {
            "description": "A list of functions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Function"
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of functions",
                          "example": 1
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "functions_list": {
                    "summary": "Running machines",
                    "value": {
                      "body": {
                        "results": [
                          {
                            "description": "A serverless function",
                            "name": "my-function",
                            "runtime": "nodejs",
                            "subject": "ms.compute.987654321.function.123456789",
                            "type": "created",
                            "modified": 1714378974
                          }
                        ],
                        "results_total": 1
                      }
                    }
                  },
                  "empty": {
                    "summary": "No machines",
                    "value": {
                      "body": {
                        "results": [],
                        "results_total": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "post": {
        "tags": [
          "Functions"
        ],
        "summary": "Create a function",
        "description": "Creates a new serverless function",
        "operationId": "createFunction",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.post.function",
        "requestBody": {
          "description": "Function to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionCreate"
              },
              "example": {
                "name": "my-function",
                "description": "A serverless function",
                "compute_asset": {
                  "collection_topic": "my-namespace",
                  "handler": "index.handler",
                  "assets": [
                    {
                      "asset_name": "index.js",
                      "asset_type": "js",
                      "asset_value": "ZXhwb3J0cy5oYW5kbGVyID0gYXN5bmMgKCkgPT4gKHt9KTs=",
                      "link": false
                    },
                    {
                      "asset_name": "index.js",
                      "asset_type": "archive",
                      "asset_value": "ZXhwb3J0cy5oYW5kbGVyID0gYXN5bmMgKCkgPT4gKHt9KTs=",
                      "link": false
                    }
                  ],
                  "timeout": 30000,
                  "read_only_fs": true
                },
                "monitor_config": {
                  "ttl": 604800000,
                  "store_payload": true
                },
                "schema": {
                  "input": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    }
                  },
                  "output": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Function created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/Function"
                    }
                  }
                },
                "example": {
                  "body": {
                    "description": "A serverless function",
                    "name": "my-function",
                    "runtime": "nodejs",
                    "subject": "ms.compute.987654321.function.123456789",
                    "type": "created",
                    "modified": 1714378974,
                    "compute_asset": {
                      "collection_topic": "my-namespace",
                      "service": "123456789",
                      "runtime": "nodejs",
                      "handler": "index.handler",
                      "timeout": 30000,
                      "read_only_fs": true
                    },
                    "monitor_config": {
                      "ttl": 604800000,
                      "store_payload": true
                    },
                    "schema": {
                      "input": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "output": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/functions/{collection_topic}/{function_topic}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionTopic"
        },
        {
          "name": "function_topic",
          "in": "path",
          "description": "Function topic identifier",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "123456789"
        }
      ],
      "get": {
        "tags": [
          "Functions"
        ],
        "summary": "Get a function",
        "description": "Retrieves a specific function by collection topic and function topic",
        "operationId": "getFunction",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.compute-item",
        "responses": {
          "200": {
            "description": "Function details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/FunctionWithAsset"
                    }
                  }
                },
                "example": {
                  "body": {
                    "description": "A serverless function",
                    "name": "my-function",
                    "runtime": "nodejs",
                    "subject": "ms.compute.987654321.function.123456789",
                    "type": "created",
                    "modified": 1714378974,
                    "compute_asset": {
                      "collection_topic": "my-namespace",
                      "service": "123456789",
                      "runtime": "nodejs",
                      "handler": "index.handler",
                      "assets": [
                        {
                          "asset_name": "index.js",
                          "asset_type": "js",
                          "asset_value": "ZXhwb3J0cy5oYW5kbGVyID0gYXN5bmMgKCkgPT4gKHt9KTs=",
                          "link": false
                        }
                      ],
                      "timeout": 30000,
                      "read_only_fs": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "patch": {
        "tags": [
          "Functions"
        ],
        "summary": "Update a function",
        "description": "Updates an existing function",
        "operationId": "updateFunction",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.patch.function",
        "requestBody": {
          "description": "Function properties to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionUpdate"
              },
              "example": {
                "description": "Updated function description",
                "monitor_config": {
                  "ttl": 1209600000,
                  "store_payload": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Function patched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/functions/{collection_topic}/{function_topic}/invoke": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionTopic"
        },
        {
          "name": "function_topic",
          "in": "path",
          "description": "Function topic identifier",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "123456789"
        }
      ],
      "post": {
        "tags": [
          "Functions"
        ],
        "summary": "Invoke a function",
        "description": "Invokes a function with the provided payload",
        "operationId": "invokeFunction",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.invoke.function",
        "requestBody": {
          "description": "Function invocation parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionInvoke"
              },
              "example": {
                "payload": "{\"name\":\"World\"}",
                "invocation_type": "RequestResponse"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Function invoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "string",
                      "description": "Response from function invocation"
                    }
                  }
                },
                "example": {
                  "body": "{\"message\":\"Hello, World!\"}"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/compute-assets/{collection_topic}/{resource_topic}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionTopic"
        },
        {
          "name": "resource_topic",
          "in": "path",
          "description": "Resource topic identifier (function or container)",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "123456789"
        }
      ],
      "get": {
        "tags": [
          "Compute Assets"
        ],
        "summary": "Get compute assets",
        "description": "Retrieves all assets for a specific compute resource (function or container)",
        "operationId": "getComputeAssets",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.compute-assets",
        "responses": {
          "200": {
            "description": "Compute resource assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/ComputeAsset"
                    }
                  }
                },
                "example": {
                  "body": {
                    "assets": [
                      {
                        "asset_name": "index.js",
                        "asset_type": "js",
                        "asset_value": "ZXhwb3J0cy5oYW5kbGVyID0gYXN5bmMgKCkgPT4gKHt9KTs=",
                        "link": false
                      }
                    ],
                    "collection_topic": "my-namespace",
                    "service": "123456789",
                    "runtime": "nodejs",
                    "handler": "index.handler",
                    "timeout": 30000,
                    "read_only_fs": true
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "patch": {
        "tags": [
          "Compute Assets"
        ],
        "summary": "Update compute assets",
        "description": "Updates assets for a specific compute resource (function or container)",
        "operationId": "updateComputeAssets",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.patch.compute-assets",
        "requestBody": {
          "description": "Compute asset properties to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComputeAssetUpdate"
              },
              "example": {
                "handler": "index.newHandler",
                "assets": [
                  {
                    "asset_name": "index.js",
                    "asset_type": "js",
                    "asset_value": "Y29uc29sZS5sb2coIkhlbGxvLCBVcGRhdGVkIFdvcmxkISIpOwo=",
                    "link": false
                  }
                ],
                "timeout": 60000,
                "env_vars": [
                  "ENV=production"
                ],
                "read_only_fs": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Compute assets patched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/compute-assets/{collection_topic}/{resource_topic}/history": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionTopic"
        },
        {
          "name": "resource_topic",
          "in": "path",
          "description": "Resource topic identifier (function or container)",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "123456789"
        }
      ],
      "get": {
        "tags": [
          "Compute Assets"
        ],
        "summary": "Get compute asset history",
        "description": "Retrieves the history of a compute resource's assets (function or container)",
        "operationId": "getComputeAssetHistory",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.compute-asset-history",
        "responses": {
          "200": {
            "description": "Compute asset history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ComputeAsset"
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of history entries",
                          "example": 1
                        }
                      }
                    }
                  }
                },
                "example": {
                  "body": {
                    "results": [
                      {
                        "collection_topic": "my-namespace",
                        "service": "123456789",
                        "runtime": "nodejs",
                        "handler": "index.handler",
                        "assets": [
                          {
                            "asset_name": "index.js",
                            "asset_type": "js",
                            "asset_value": "ZXhwb3J0cy5oYW5kbGVyID0gYXN5bmMgKCkgPT4gKHt9KTs=",
                            "link": false
                          }
                        ],
                        "timeout": 30000,
                        "read_only_fs": true,
                        "modified": 1714378974
                      },
                      {
                        "collection_topic": "my-namespace",
                        "service": "123456789",
                        "runtime": "nodejs",
                        "handler": "index.newHandler",
                        "assets": [
                          {
                            "asset_name": "index.js",
                            "asset_type": "js",
                            "asset_value": "Y29uc29sZS5sb2coIkhlbGxvLCBVcGRhdGVkIFdvcmxkISIpOwo=",
                            "link": false
                          }
                        ],
                        "timeout": 60000,
                        "read_only_fs": true,
                        "modified": 1714380000
                      }
                    ],
                    "results_total": 2
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/containers": {
      "get": {
        "tags": [
          "Containers"
        ],
        "summary": "Get all containers",
        "description": "Retrieves a list of all containers",
        "operationId": "getContainers",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.containers",
        "responses": {
          "200": {
            "description": "A list of containers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Container"
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of containers",
                          "example": 1
                        }
                      }
                    }
                  }
                },
                "example": {
                  "body": {
                    "results": [
                      {
                        "description": "A container for my application",
                        "name": "my-container",
                        "runtime": "docker",
                        "subject": "ms.compute.987654321.container.123456789",
                        "type": "created",
                        "modified": 1714378974
                      }
                    ],
                    "results_total": 1
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "post": {
        "tags": [
          "Containers"
        ],
        "summary": "Create a container",
        "description": "Creates a new container",
        "operationId": "createContainer",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.post.container",
        "requestBody": {
          "description": "Container to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContainerCreate"
              },
              "example": {
                "name": "my-container",
                "description": "A container for my application",
                "compute_asset": {
                  "collection_topic": "my-namespace",
                  "runtime": "docker",
                  "assets": [
                    {
                      "asset_name": "Dockerfile",
                      "asset_type": "file",
                      "asset_value": "RlJPTSBub2RlOjE4CldPUktESVIgL2FwcApDT1BZIC4gLgpSVU4gbnBtIGluc3RhbGwKRVhQT1NFIDgwODAKQ01EIFsibm9kZSIsICJpbmRleC5qcyJdCg==",
                      "link": false
                    }
                  ],
                  "read_only_fs": false
                },
                "monitor_config": {
                  "ttl": 604800000,
                  "store_payload": true
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Container created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/Container"
                    }
                  }
                },
                "example": {
                  "body": {
                    "description": "A container for my application",
                    "name": "my-container",
                    "runtime": "docker",
                    "subject": "ms.compute.987654321.container.123456789",
                    "type": "created",
                    "modified": 1714378974,
                    "compute_asset": {
                      "collection_topic": "my-namespace",
                      "service": "123456789",
                      "runtime": "docker",
                      "read_only_fs": false
                    },
                    "monitor_config": {
                      "ttl": 604800000,
                      "store_payload": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/containers/{collection_topic}/{container_topic}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionTopic"
        },
        {
          "name": "container_topic",
          "in": "path",
          "description": "Container topic identifier",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "123456789"
        }
      ],
      "get": {
        "tags": [
          "Containers"
        ],
        "summary": "Get a container",
        "description": "Retrieves a specific container by collection topic and container topic",
        "operationId": "getContainer",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.compute-item",
        "responses": {
          "200": {
            "description": "Container details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/ContainerWithAsset"
                    }
                  }
                },
                "example": {
                  "body": {
                    "description": "A container for my application",
                    "name": "my-container",
                    "runtime": "docker",
                    "subject": "ms.compute.987654321.container.123456789",
                    "type": "created",
                    "modified": 1714378974,
                    "compute_asset": {
                      "collection_topic": "my-namespace",
                      "service": "123456789",
                      "runtime": "docker",
                      "assets": [
                        {
                          "asset_name": "Dockerfile",
                          "asset_type": "file",
                          "asset_value": "RlJPTSBub2RlOjE4CldPUktESVIgL2FwcApDT1BZIC4gLgpSVU4gbnBtIGluc3RhbGwKRVhQT1NFIDgwODAKQ01EIFsibm9kZSIsICJpbmRleC5qcyJdCg==",
                          "link": false
                        }
                      ],
                      "read_only_fs": false
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "patch": {
        "tags": [
          "Containers"
        ],
        "summary": "Update a container",
        "description": "Updates an existing container",
        "operationId": "updateContainer",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.patch.container",
        "requestBody": {
          "description": "Container properties to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContainerUpdate"
              },
              "example": {
                "description": "Updated container description",
                "monitor_config": {
                  "ttl": 1209600000,
                  "store_payload": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Container patched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "delete": {
        "tags": [
          "Containers"
        ],
        "summary": "Delete a container instance",
        "description": "Terminates and deletes a specific container instance",
        "operationId": "deleteContainerInstance",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.delete.container-instance",
        "responses": {
          "200": {
            "$ref": "#/components/responses/success"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/containers/scale/{collection_topic}/{container_topic}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionTopic"
        },
        {
          "name": "container_topic",
          "in": "path",
          "description": "Container topic identifier",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "123456789"
        }
      ],
      "post": {
        "tags": [
          "Containers"
        ],
        "summary": "Scale container instances",
        "description": "Scales the number of container instances up or down",
        "operationId": "scaleContainer",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.post.container-scale",
        "requestBody": {
          "description": "Container scaling parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContainerScaleRequest"
              },
              "example": {
                "count": 3,
                "subject": "ms.compute.my-namespace.container.123456789"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/success"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/containers/instance/start": {
      "post": {
        "tags": [
          "Containers"
        ],
        "summary": "Start container instance",
        "description": "Starts a stopped container instance",
        "operationId": "startContainerInstance",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.post.container-instance-start",
        "requestBody": {
          "description": "Container instance start request",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BasicRequest"
              },
              "example": {
                "subject": "ms.compute.987654321.container.123456789.instance.abc123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/success"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/containers/instance/stop": {
      "post": {
        "tags": [
          "Containers"
        ],
        "summary": "Stop container instance",
        "description": "Stops a running container instance",
        "operationId": "stopContainerInstance",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.post.container-instance-stop",
        "requestBody": {
          "description": "Container instance stop request",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BasicRequest"
              },
              "example": {
                "subject": "ms.compute.987654321.container.123456789.instance.abc123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/success"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/machines": {
      "get": {
        "tags": [
          "Machines"
        ],
        "summary": "Get compute machines",
        "description": "Retrieves information about Hydra compute machines with optional filtering",
        "operationId": "getMachines",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.machines",
        "parameters": [
          {
            "name": "machine",
            "in": "query",
            "description": "Filter by specific machine identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespace",
            "in": "query",
            "description": "Filter by namespace",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runtime",
            "in": "query",
            "description": "Filter by runtime type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service",
            "in": "query",
            "description": "Filter by service identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by machine status",
            "schema": {
              "type": "string",
              "enum": [
                "running",
                "paused",
                "stopped",
                "*"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of compute machines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ComputeMachine"
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of machines",
                          "example": 1
                        }
                      }
                    }
                  }
                },
                "example": {
                  "body": {
                    "results": [
                      {
                        "hydra_machine_version": "0.0.1",
                        "id": "QVzJ6dGqpS6bsaY0qdZLtC",
                        "pid": 94890,
                        "status": "running",
                        "runtime": "nodejs",
                        "runtime_version": "4165",
                        "memory": "512.00 MB",
                        "rootfs": "/home/compute/machines/ABCD1234/QVzJ6dGqpS6bsaY0qdZLtC/rootfs",
                        "created": "2025-07-07T12:19:37.195049286Z",
                        "annotations": {
                          "account": "ABCD1234",
                          "bundle": "/home/compute",
                          "cpu": "824671010504",
                          "hydra.node": "mc-eu-two",
                          "machine": "QVzJ6dGqpS6bsaY0qdZLtC",
                          "mem": "512MB",
                          "namespace": "1753641292",
                          "runtime.version": "4165",
                          "service": "112623013",
                          "service.auto": "%strue",
                          "service.handler": "/main.main",
                          "service.version": "5116"
                        },
                        "owner": "ABCD1234",
                        "stats": {
                          "CgroupStats": {
                            "blkio_stats": {
                              "io_service_bytes_recursive": [
                                {
                                  "major": 9,
                                  "minor": 2,
                                  "op": "Read"
                                },
                                {
                                  "major": 9,
                                  "minor": 2,
                                  "op": "Write",
                                  "value": 114688
                                }
                              ],
                              "io_serviced_recursive": [
                                {
                                  "major": 9,
                                  "minor": 2,
                                  "op": "Read"
                                },
                                {
                                  "major": 9,
                                  "minor": 2,
                                  "op": "Write",
                                  "value": 25
                                }
                              ],
                              "psi": {
                                "full": {
                                  "avg10": 0,
                                  "avg300": 0,
                                  "avg60": 0,
                                  "total": 0
                                },
                                "some": {
                                  "avg10": 0,
                                  "avg300": 0,
                                  "avg60": 0,
                                  "total": 0
                                }
                              }
                            },
                            "cpu_stats": {
                              "cpu_usage": {
                                "percpu_usage_in_kernelmode": null,
                                "percpu_usage_in_usermode": null,
                                "total_usage": 494712000,
                                "usage_in_kernelmode": 62501000,
                                "usage_in_usermode": 432211000
                              },
                              "psi": {
                                "full": {
                                  "avg10": 0,
                                  "avg300": 0,
                                  "avg60": 0,
                                  "total": 1434
                                },
                                "some": {
                                  "avg10": 0,
                                  "avg300": 0,
                                  "avg60": 0,
                                  "total": 1434
                                }
                              },
                              "throttling_data": {
                                "periods": 318
                              }
                            },
                            "cpuset_stats": {
                              "cpu_exclusive": 0,
                              "mem_exclusive": 0,
                              "mem_hardwall": 0,
                              "memory_migrate": 0,
                              "memory_pressure": 0,
                              "memory_spread_page": 0,
                              "memory_spread_slab": 0,
                              "sched_load_balance": 0,
                              "sched_relax_domain_level": 0
                            },
                            "memory_stats": {
                              "cache": 40960,
                              "kernel_tcp_usage": {
                                "failcnt": 0,
                                "limit": 0
                              },
                              "kernel_usage": {
                                "failcnt": 0,
                                "limit": 0
                              },
                              "page_usage_by_numa": {
                                "anon": {},
                                "file": {},
                                "hierarchical": {
                                  "anon": {},
                                  "file": {},
                                  "total": {},
                                  "unevictable": {}
                                },
                                "total": {},
                                "unevictable": {}
                              },
                              "psi": {
                                "full": {
                                  "avg10": 0,
                                  "avg300": 0,
                                  "avg60": 0,
                                  "total": 0
                                },
                                "some": {
                                  "avg10": 0,
                                  "avg300": 0,
                                  "avg60": 0,
                                  "total": 0
                                }
                              },
                              "stats": {
                                "active_anon": 29196288,
                                "active_file": 0,
                                "anon": 29196288,
                                "anon_thp": 0,
                                "file": 40960,
                                "file_dirty": 0,
                                "file_mapped": 0,
                                "file_thp": 0,
                                "file_writeback": 0,
                                "inactive_anon": 0,
                                "inactive_file": 40960,
                                "kernel": 1617920,
                                "kernel_stack": 180224,
                                "pagetables": 966656,
                                "percpu": 10880,
                                "pgactivate": 0,
                                "pgdeactivate": 0,
                                "pgfault": 16794,
                                "pglazyfree": 0,
                                "pglazyfreed": 0,
                                "pgmajfault": 0,
                                "pgrefill": 0,
                                "pgscan": 0,
                                "pgscan_direct": 0,
                                "pgscan_khugepaged": 0,
                                "pgscan_kswapd": 0,
                                "pgsteal": 0,
                                "pgsteal_direct": 0,
                                "pgsteal_khugepaged": 0,
                                "pgsteal_kswapd": 0,
                                "sec_pagetables": 0,
                                "shmem": 0,
                                "shmem_thp": 0,
                                "slab": 444776,
                                "slab_reclaimable": 113824,
                                "slab_unreclaimable": 330952,
                                "sock": 0,
                                "swapcached": 0,
                                "thp_collapse_alloc": 0,
                                "thp_fault_alloc": 0,
                                "thp_swpout": 0,
                                "thp_swpout_fallback": 0,
                                "unevictable": 0,
                                "vmalloc": 0,
                                "workingset_activate_anon": 0,
                                "workingset_activate_file": 0,
                                "workingset_nodereclaim": 0,
                                "workingset_refault_anon": 0,
                                "workingset_refault_file": 0,
                                "workingset_restore_anon": 0,
                                "workingset_restore_file": 0,
                                "zswap": 0,
                                "zswapped": 0,
                                "zswpin": 0,
                                "zswpout": 0,
                                "zswpwb": 0
                              },
                              "swap_only_usage": {
                                "failcnt": 0,
                                "limit": 0
                              },
                              "swap_usage": {
                                "failcnt": 0,
                                "limit": 1073741824,
                                "usage": 30855168
                              },
                              "usage": {
                                "failcnt": 0,
                                "limit": 1073741824,
                                "max_usage": 32432128,
                                "usage": 30855168
                              },
                              "use_hierarchy": true
                            },
                            "pids_stats": {
                              "current": 11,
                              "limit": 231354
                            },
                            "rdma_stats": {}
                          },
                          "IntelRdtStats": null,
                          "Interfaces": [
                            {
                              "Name": "hh00",
                              "RxBytes": 440358,
                              "RxDropped": 0,
                              "RxErrors": 0,
                              "RxPackets": 1640,
                              "TxBytes": 688993,
                              "TxDropped": 0,
                              "TxErrors": 0,
                              "TxPackets": 1911
                            }
                          ]
                        },
                        "type": "Compute Function"
                      }
                    ],
                    "results_total": 1
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/runtimes": {
      "get": {
        "tags": [
          "Runtimes"
        ],
        "summary": "Get runtimes",
        "description": "Retrieves all available runtimes",
        "operationId": "getRuntimes",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.runtimes",
        "responses": {
          "200": {
            "description": "A list of available runtimes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of runtimes"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "body": {
                    "results": [
                      {
                        "name": "nodejs",
                        "version": "18.x",
                        "description": "Node.js Runtime"
                      },
                      {
                        "name": "python",
                        "version": "3.10",
                        "description": "Python Runtime"
                      },
                      {
                        "name": "docker",
                        "version": "latest",
                        "description": "Docker Runtime"
                      }
                    ],
                    "results_total": 3
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/services": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "Get compute services",
        "description": "Retrieves a list of all available compute services",
        "operationId": "getServices",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.services",
        "responses": {
          "200": {
            "description": "List of compute services",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of services"
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "subject": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "api_key_auth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    },
    "parameters": {
      "CollectionTopic": {
        "name": "collection_topic",
        "in": "path",
        "description": "Collection topic identifier",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "ms.compute.1714378974.collection"
      }
    },
    "schemas": {
      "BasicRequest": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string",
            "description": "The subject identifier for the resource"
          },
          "type": {
            "type": "string",
            "description": "The type of request"
          }
        },
        "example": {
          "subject": "ms.compute.my-namespace.container.123456789"
        }
      },
      "ComputeMachine": {
        "type": "object",
        "properties": {
          "hydra_machine_version": {
            "type": "string",
            "description": "The hydra node version"
          },
          "id": {
            "type": "string",
            "description": "The machine's VM ID"
          },
          "pid": {
            "type": "integer",
            "description": "The init process ID in the parent namespace"
          },
          "status": {
            "type": "string",
            "description": "Current status of the machine (running, paused, stopped, etc.)"
          },
          "runtime": {
            "type": "string",
            "description": "Runtime running within this machine"
          },
          "runtime_version": {
            "type": "string",
            "description": "Runtime version running within this machine"
          },
          "memory": {
            "type": "string",
            "description": "Memory limit for the hydra machine"
          },
          "rootfs": {
            "type": "string",
            "description": "Path to a directory containing the hydra machine's root filesystem"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Creation time of the container in UTC"
          },
          "annotations": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "User defined annotations added to the config"
          },
          "owner": {
            "type": "string",
            "description": "The owner of the state directory (the owner of the machine)"
          },
          "stats": {
            "type": "object",
            "description": "Machine statistics"
          },
          "type": {
            "type": "string",
            "description": "Type of workload running on machine (function, service, etc.)"
          }
        }
      },
      "GetMachinesRequest": {
        "type": "object",
        "properties": {
          "machine": {
            "type": "string",
            "description": "Filter by specific machine identifier"
          },
          "namespace": {
            "type": "string",
            "description": "Filter by namespace"
          },
          "runtime": {
            "type": "string",
            "description": "Filter by runtime type"
          },
          "service": {
            "type": "string",
            "description": "Filter by service identifier"
          },
          "status": {
            "type": "string",
            "description": "Filter by machine status",
            "enum": [
              "running",
              "paused",
              "stopped",
              "*"
            ]
          }
        }
      },
      "Collection": {
        "type": "object",
        "properties": {
          "collection_type": {
            "type": "string",
            "description": "Collection type",
            "example": "function",
            "enum": [
              "container",
              "function"
            ]
          },
          "description": {
            "type": "string",
            "description": "Collection description",
            "example": "A collection for my compute resources"
          },
          "name": {
            "type": "string",
            "description": "Collection name",
            "example": "my-collection"
          },
          "subject": {
            "type": "string",
            "description": "Collection subject identifier",
            "example": "ms.compute.123456789.collection"
          },
          "type": {
            "type": "string",
            "description": "Resource type",
            "example": "created"
          },
          "modified": {
            "type": "integer",
            "description": "Last modification timestamp",
            "example": 1714378974
          }
        }
      },
      "CollectionCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Collection name",
            "example": "my-collection"
          },
          "description": {
            "type": "string",
            "description": "Collection description",
            "example": "A collection for my compute resources"
          },
          "collection_type": {
            "type": "string",
            "description": "Collection type",
            "example": "function",
            "enum": [
              "container",
              "function"
            ]
          }
        }
      },
      "CollectionUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Collection name",
            "example": "my-collection"
          },
          "description": {
            "type": "string",
            "description": "Collection description",
            "example": "A collection for my compute resources"
          },
          "collection_type": {
            "type": "string",
            "description": "Collection type",
            "example": "function",
            "enum": [
              "container",
              "function"
            ]
          }
        }
      },
      "ComputeAssetItem": {
        "type": "object",
        "properties": {
          "asset_name": {
            "type": "string",
            "description": "Asset name"
          },
          "asset_type": {
            "type": "string",
            "description": "Asset type"
          },
          "asset_value": {
            "type": "string",
            "description": "Base64 encoded content"
          },
          "link": {
            "type": "boolean",
            "description": "Whether asset is a link"
          }
        }
      },
      "ComputeResource": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Resource description"
          },
          "name": {
            "type": "string",
            "description": "Resource name"
          },
          "runtime": {
            "type": "string",
            "description": "Runtime environment"
          },
          "subject": {
            "type": "string",
            "description": "Subject identifier"
          },
          "type": {
            "type": "string",
            "description": "Message type (created, patched, etc.)"
          },
          "resource_type": {
            "type": "string",
            "enum": [
              "function",
              "container"
            ],
            "description": "Type of compute resource"
          },
          "modified": {
            "type": "integer",
            "description": "Last modification timestamp"
          }
        }
      },
      "ContainerScaleRequest": {
        "type": "object",
        "required": [
          "count"
        ],
        "properties": {
          "count": {
            "type": "integer",
            "minimum": 1,
            "description": "Number of container instances to scale to"
          },
          "subject": {
            "type": "string",
            "description": "Container subject identifier"
          },
          "namespace": {
            "type": "string",
            "description": "Container namespace (auto-populated from subject)"
          },
          "service": {
            "type": "string",
            "description": "Container service identifier (auto-populated from subject)"
          }
        }
      },
      "Function": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Function description"
          },
          "name": {
            "type": "string",
            "description": "Function name"
          },
          "runtime": {
            "type": "string",
            "description": "Runtime environment"
          },
          "subject": {
            "type": "string",
            "description": "Subject identifier"
          },
          "type": {
            "type": "string",
            "description": "Message type (created, patched, etc.)"
          },
          "modified": {
            "type": "integer",
            "description": "Last modification timestamp"
          },
          "monitor_config": {
            "$ref": "#/components/schemas/MonitorConfig"
          },
          "schema": {
            "$ref": "#/components/schemas/Schema"
          },
          "size": {
            "type": "string",
            "description": "Size configuration for function resources"
          }
        }
      },
      "Container": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Container description"
          },
          "name": {
            "type": "string",
            "description": "Container name"
          },
          "runtime": {
            "type": "string",
            "description": "Runtime environment"
          },
          "subject": {
            "type": "string",
            "description": "Subject identifier"
          },
          "type": {
            "type": "string",
            "description": "Message type (created, patched, etc.)"
          },
          "modified": {
            "type": "integer",
            "description": "Last modification timestamp"
          },
          "monitor_config": {
            "$ref": "#/components/schemas/MonitorConfig"
          },
          "size": {
            "type": "string",
            "description": "Size configuration for container resources"
          }
        }
      },
      "ComputeAsset": {
        "type": "object",
        "properties": {
          "collection_topic": {
            "type": "string",
            "description": "Collection topic identifier"
          },
          "service": {
            "type": "string",
            "description": "Service identifier"
          },
          "runtime": {
            "type": "string",
            "description": "Runtime environment"
          },
          "handler": {
            "type": "string",
            "description": "Function handler (only applicable for functions)"
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComputeAssetItem"
            },
            "description": "Asset items"
          },
          "timeout": {
            "type": "integer",
            "description": "Timeout in milliseconds (only applicable for functions)"
          },
          "env_vars": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Environment variables"
          },
          "read_only_fs": {
            "type": "boolean",
            "description": "Read-only filesystem flag"
          },
          "modified": {
            "type": "integer",
            "description": "Last modification timestamp"
          }
        }
      },
      "ComputeAssetUpdate": {
        "type": "object",
        "properties": {
          "handler": {
            "type": "string",
            "description": "Function handler (only applicable for functions)"
          },
          "runtime": {
            "type": "string",
            "description": "Runtime environment"
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComputeAssetItem"
            },
            "description": "Asset items"
          },
          "timeout": {
            "type": "integer",
            "description": "Timeout in milliseconds (only applicable for functions)"
          },
          "env_vars": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Environment variables"
          },
          "read_only_fs": {
            "type": "boolean",
            "description": "Read-only filesystem flag"
          }
        }
      },
      "MonitorConfig": {
        "type": "object",
        "properties": {
          "ttl": {
            "type": "integer",
            "description": "Monitoring data TTL in milliseconds"
          },
          "store_payload": {
            "type": "boolean",
            "description": "Whether to store invocation payloads"
          }
        }
      },
      "Schema": {
        "type": "object",
        "properties": {
          "input": {
            "type": "object",
            "description": "Input schema definition"
          },
          "output": {
            "type": "object",
            "description": "Output schema definition"
          }
        }
      },
      "FunctionWithAsset": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Function"
          },
          {
            "type": "object",
            "properties": {
              "compute_asset": {
                "$ref": "#/components/schemas/ComputeAsset"
              }
            }
          }
        ]
      },
      "ContainerWithAsset": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Container"
          },
          {
            "type": "object",
            "properties": {
              "compute_asset": {
                "$ref": "#/components/schemas/ComputeAsset"
              }
            }
          }
        ]
      },
      "FunctionCreate": {
        "type": "object",
        "required": [
          "name",
          "compute_asset",
          "monitor_config"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Function name"
          },
          "description": {
            "type": "string",
            "description": "Function description"
          },
          "compute_asset": {
            "type": "object",
            "required": [
              "collection_topic"
            ],
            "properties": {
              "collection_topic": {
                "type": "string",
                "description": "Collection topic identifier used as namespace"
              },
              "handler": {
                "type": "string",
                "description": "Function handler"
              },
              "runtime": {
                "type": "string",
                "description": "Runtime environment",
                "default": "nodejs"
              },
              "assets": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ComputeAssetItem"
                },
                "description": "Function assets"
              },
              "timeout": {
                "type": "integer",
                "description": "Function timeout in milliseconds"
              },
              "read_only_fs": {
                "type": "boolean",
                "description": "Read-only filesystem flag"
              },
              "env_vars": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Environment variables"
              }
            }
          },
          "monitor_config": {
            "$ref": "#/components/schemas/MonitorConfig"
          },
          "schema": {
            "$ref": "#/components/schemas/Schema"
          },
          "size": {
            "type": "string",
            "description": "Size configuration for function resources"
          }
        }
      },
      "FunctionUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Function name"
          },
          "description": {
            "type": "string",
            "description": "Function description"
          },
          "monitor_config": {
            "$ref": "#/components/schemas/MonitorConfig"
          },
          "schema": {
            "$ref": "#/components/schemas/Schema"
          },
          "size": {
            "type": "string",
            "description": "Size configuration for function resources"
          }
        }
      },
      "FunctionInvoke": {
        "type": "object",
        "required": [
          "payload",
          "invocation_type"
        ],
        "properties": {
          "payload": {
            "type": "string",
            "description": "Function invocation payload (JSON string)"
          },
          "invocation_type": {
            "type": "string",
            "enum": [
              "Async",
              "RequestResponse"
            ],
            "description": "Type of invocation (Async for background processing, RequestResponse for immediate response)"
          }
        }
      },
      "ContainerCreate": {
        "type": "object",
        "required": [
          "name",
          "compute_asset",
          "monitor_config"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Container name"
          },
          "description": {
            "type": "string",
            "description": "Container description"
          },
          "compute_asset": {
            "type": "object",
            "required": [
              "collection_topic",
              "runtime"
            ],
            "properties": {
              "collection_topic": {
                "type": "string",
                "description": "Collection topic identifier used as namespace"
              },
              "runtime": {
                "type": "string",
                "description": "Runtime environment"
              },
              "assets": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ComputeAssetItem"
                },
                "description": "Container assets"
              },
              "read_only_fs": {
                "type": "boolean",
                "description": "Read-only filesystem flag"
              },
              "env_vars": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Environment variables"
              }
            }
          },
          "monitor_config": {
            "$ref": "#/components/schemas/MonitorConfig"
          },
          "size": {
            "type": "string",
            "description": "Size configuration for container resources"
          }
        }
      },
      "ContainerUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Container name"
          },
          "description": {
            "type": "string",
            "description": "Container description"
          },
          "monitor_config": {
            "$ref": "#/components/schemas/MonitorConfig"
          },
          "size": {
            "type": "string",
            "description": "Size configuration for container resources"
          }
        }
      }
    },
    "responses": {
      "success": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Success message"
          }
        }
      },
      "bad_request": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            },
            "example": {
              "error": "Invalid request parameters"
            }
          }
        }
      },
      "not_found": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            },
            "example": {
              "error": "The requested resource was not found"
            }
          }
        }
      },
      "internal_server_error": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            },
            "example": {
              "error": "An unexpected error occurred"
            }
          }
        }
      }
    }
  }
}