{
  "openapi": "3.0.3",
  "info": {
    "title": "Qiva Compute API",
    "x-gateway-name": "API Gateway",
    "description": "API service for managing compute resources including collections, functions, containers, and their assets",
    "contact": {
      "email": "support@quiva.ai"
    },
    "license": {
      "name": "Proprietary"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.quiva.ai",
      "description": "Production API server"
    }
  ],
  "tags": [
    {
      "name": "Collections",
      "description": "Operations related to compute collections"
    },
    {
      "name": "Functions",
      "description": "Operations related to serverless functions"
    },
    {
      "name": "Containers",
      "description": "Operations related to containers"
    },
    {
      "name": "Compute Assets",
      "description": "Operations related to compute assets for both functions and containers"
    },
    {
      "name": "Runtimes",
      "description": "Operations related to compute runtimes"
    },
    {
      "name": "Machines",
      "description": "Operations related to machines"
    },
    {
      "name": "Services",
      "description": "Operations related to services"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "api_key_auth": []
    }
  ],
  "paths": {
    "/compute/collections": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get all collections",
        "description": "Retrieves a list of all compute collections",
        "operationId": "getCollections",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.collections",
        "responses": {
          "200": {
            "description": "A list of collections",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Collection"
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of collections",
                          "example": 1
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "multiple_collections": {
                    "summary": "Multiple collections",
                    "value": {
                      "body": {
                        "results": [
                          {
                            "collection_type": "function",
                            "description": "Production serverless functions",
                            "name": "prod-functions",
                            "subject": "ms.compute.123456789.collection",
                            "type": "created",
                            "modified": 1714378974
                          },
                          {
                            "collection_type": "container",
                            "description": "Staging container workloads",
                            "name": "staging-containers",
                            "subject": "ms.compute.123456789.collection",
                            "type": "created",
                            "modified": 1714378000
                          }
                        ],
                        "results_total": 2
                      }
                    }
                  },
                  "empty": {
                    "summary": "No collections",
                    "value": {
                      "body": {
                        "results": [],
                        "results_total": 0
                      }
                    }
                  },
                  "single_collection": {
                    "summary": "Single collection",
                    "value": {
                      "body": {
                        "results": [
                          {
                            "collection_type": "function",
                            "description": "A collection for my compute resources",
                            "name": "my-collection",
                            "subject": "ms.compute.123456789.collection",
                            "type": "created",
                            "modified": 1714378974
                          }
                        ],
                        "results_total": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "post": {
        "tags": [
          "Collections"
        ],
        "summary": "Create a collection",
        "description": "Creates a new compute collection",
        "operationId": "createCollection",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.post.collection",
        "requestBody": {
          "description": "Collection to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionCreate"
              },
              "examples": {
                "function_collection": {
                  "summary": "Function collection",
                  "value": {
                    "name": "api-functions",
                    "description": "API endpoint serverless functions",
                    "collection_type": "function"
                  }
                },
                "container_collection": {
                  "summary": "Container collection",
                  "value": {
                    "name": "web-services",
                    "description": "Web service containers",
                    "collection_type": "container"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Collection created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/Collection"
                    }
                  }
                },
                "examples": {
                  "function_collection_created": {
                    "summary": "Function collection created",
                    "value": {
                      "body": {
                        "collection_type": "function",
                        "description": "API endpoint serverless functions",
                        "name": "api-functions",
                        "subject": "ms.compute.123456789.collection",
                        "type": "created",
                        "modified": 1714378974
                      }
                    }
                  },
                  "container_collection_created": {
                    "summary": "Container collection created",
                    "value": {
                      "body": {
                        "collection_type": "container",
                        "description": "Web service containers",
                        "name": "web-services",
                        "subject": "ms.compute.123456789.collection",
                        "type": "created",
                        "modified": 1714378974
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/collections/{collection_topic}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionTopic"
        }
      ],
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get a collection",
        "description": "Retrieves a specific collection by topic",
        "operationId": "getCollection",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.collection",
        "responses": {
          "200": {
            "description": "Collection details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/Collection"
                    }
                  }
                },
                "examples": {
                  "function_collection": {
                    "summary": "Function collection",
                    "value": {
                      "body": {
                        "collection_type": "function",
                        "description": "Production serverless functions",
                        "name": "prod-functions",
                        "subject": "ms.compute.1714378974.collection",
                        "type": "created",
                        "modified": 1714378974
                      }
                    }
                  },
                  "container_collection": {
                    "summary": "Container collection",
                    "value": {
                      "body": {
                        "collection_type": "container",
                        "description": "Microservices containers",
                        "name": "microservices",
                        "subject": "ms.compute.1714378974.collection",
                        "type": "created",
                        "modified": 1714378974
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "patch": {
        "tags": [
          "Collections"
        ],
        "summary": "Update a collection",
        "description": "Updates an existing collection",
        "operationId": "updateCollection",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.patch.collection",
        "requestBody": {
          "description": "Collection properties to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionUpdate"
              },
              "examples": {
                "update_description": {
                  "summary": "Update description",
                  "value": {
                    "description": "Updated collection description"
                  }
                },
                "update_type": {
                  "summary": "Change type",
                  "value": {
                    "collection_type": "container"
                  }
                },
                "full_update": {
                  "summary": "Full update",
                  "value": {
                    "name": "renamed-collection",
                    "description": "New description",
                    "collection_type": "function"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/success"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/collections/{collection_topic}/containers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionTopic"
        }
      ],
      "get": {
        "tags": [
          "Containers"
        ],
        "summary": "Get containers by collection",
        "description": "Retrieves all containers belonging to a specific collection",
        "operationId": "getContainersByCollection",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.containers-by-collection",
        "responses": {
          "200": {
            "description": "A list of containers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Container"
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of containers",
                          "example": 1
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "containers_list": {
                    "summary": "Running machines",
                    "value": {
                      "body": {
                        "results": [
                          {
                            "description": "A container for my application",
                            "name": "my-container",
                            "runtime": "docker",
                            "subject": "ms.compute.987654321.container.123456789",
                            "type": "created",
                            "modified": 1714378974
                          }
                        ],
                        "results_total": 1
                      }
                    }
                  },
                  "empty": {
                    "summary": "No machines",
                    "value": {
                      "body": {
                        "results": [],
                        "results_total": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/collections/{collection_topic}/functions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionTopic"
        }
      ],
      "get": {
        "tags": [
          "Functions"
        ],
        "summary": "Get functions by collection",
        "description": "Retrieves all functions belonging to a specific collection",
        "operationId": "getFunctionsByCollection",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.functions-by-collection",
        "responses": {
          "200": {
            "description": "A list of functions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Function"
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of functions",
                          "example": 1
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "functions_list": {
                    "summary": "Running machines",
                    "value": {
                      "body": {
                        "results": [
                          {
                            "description": "A serverless function",
                            "name": "my-function",
                            "runtime": "nodejs",
                            "subject": "ms.compute.987654321.function.123456789",
                            "type": "created",
                            "modified": 1714378974
                          }
                        ],
                        "results_total": 1
                      }
                    }
                  },
                  "empty": {
                    "summary": "No machines",
                    "value": {
                      "body": {
                        "results": [],
                        "results_total": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/functions": {
      "get": {
        "tags": [
          "Functions"
        ],
        "summary": "Get all functions",
        "description": "Retrieves a list of all functions",
        "operationId": "getFunctions",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.functions",
        "responses": {
          "200": {
            "description": "A list of functions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Function"
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of functions",
                          "example": 1
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "functions_list": {
                    "summary": "Function list",
                    "value": {
                      "body": {
                        "results": [
                          {
                            "compute_asset": {
                              "network": {},
                              "scaling": {
                                "lower_cpu_percent": 0,
                                "lower_memory_percent": 0,
                                "lower_outstanding": 0,
                                "lower_rps_limit": 0,
                                "max_instances": 0,
                                "min_instances": 0,
                                "sample_period": 0,
                                "timeout_period": 0,
                                "upper_cpu_percent": 0,
                                "upper_memory_percent": 0,
                                "upper_outstanding": 0,
                                "upper_rps_limit": 0
                              }
                            },
                            "description": "Retrieve an object from a bucket stored in your account",
                            "modified": 1763672023,
                            "monitor_config": {
                              "store_payload": false,
                              "ttl": 0
                            },
                            "name": "get-object-from-bucket",
                            "runtime": "runtime.nodejs.hydra",
                            "schema": {
                              "input": {
                                "$id": "https://datahub.com/nodes/obs-key-get/input.schema.json",
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "description": "Object store key get node input schema",
                                "properties": {
                                  "bucket": {
                                    "description": "bucket",
                                    "type": "string"
                                  },
                                  "json": {
                                    "description": "parse value as json",
                                    "type": "boolean"
                                  },
                                  "name": {
                                    "description": "key name",
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "bucket",
                                  "name"
                                ],
                                "title": "Object store key get input",
                                "type": "object"
                              },
                              "output": {
                                "$id": "https://datahub.com/nodes/obs-key-get/output.schema.json",
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "description": "Object store key get node output schema",
                                "properties": {
                                  "body": {
                                    "properties": {
                                      "body": {
                                        "properties": {
                                          "name": {
                                            "type": "string"
                                          },
                                          "value": {
                                            "anyOf": [
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "object"
                                              }
                                            ]
                                          }
                                        },
                                        "type": "object"
                                      },
                                      "metadata": {
                                        "properties": {
                                          "Bucket": {
                                            "type": "string"
                                          }
                                        },
                                        "type": "object"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "status_code": {
                                    "type": "integer"
                                  }
                                },
                                "title": "Object store key get output",
                                "type": "object"
                              }
                            },
                            "sequence": 4158,
                            "subject": "ms.compute.1753641292.function.2594327813",
                            "type": "patched"
                          },
                          {
                            "compute_asset": {
                              "network": {},
                              "scaling": {
                                "lower_cpu_percent": 0,
                                "lower_memory_percent": 0,
                                "lower_outstanding": 0,
                                "lower_rps_limit": 0,
                                "max_instances": 0,
                                "min_instances": 0,
                                "sample_period": 0,
                                "timeout_period": 0,
                                "upper_cpu_percent": 0,
                                "upper_memory_percent": 0,
                                "upper_outstanding": 0,
                                "upper_rps_limit": 0
                              }
                            },
                            "description": "Retrieve a key/value bucket item by the item key",
                            "modified": 1763645687,
                            "monitor_config": {
                              "store_payload": false,
                              "ttl": 0
                            },
                            "name": "get-kv-bucket-item",
                            "runtime": "runtime.nodejs.hydra",
                            "schema": {
                              "input": {
                                "$id": "https://datahub.com/nodes/kv-key-get/input.schema.json",
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "description": "KV get node input schema",
                                "properties": {
                                  "bucket": {
                                    "description": "kv bucket",
                                    "type": "string"
                                  },
                                  "json": {
                                    "description": "parse value as json",
                                    "type": "boolean"
                                  },
                                  "key": {
                                    "description": "kv key",
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "bucket",
                                  "key"
                                ],
                                "title": "KV get input",
                                "type": "object"
                              },
                              "output": {
                                "$id": "https://datahub.com/nodes/kv-key-get/output.schema.json",
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "description": "KV get node output schema",
                                "properties": {
                                  "body": {
                                    "properties": {
                                      "body": {
                                        "properties": {
                                          "key": {
                                            "type": "string"
                                          },
                                          "value": {
                                            "anyOf": [
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "object"
                                              }
                                            ]
                                          }
                                        },
                                        "type": "object"
                                      },
                                      "metadata": {
                                        "properties": {
                                          "Bucket": {
                                            "type": "string"
                                          }
                                        },
                                        "type": "object"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "status_code": {
                                    "type": "integer"
                                  }
                                },
                                "title": "KV get output",
                                "type": "object"
                              }
                            },
                            "sequence": 4131,
                            "subject": "ms.compute.1753641292.function.2631565996",
                            "type": "patched"
                          }
                        ],
                        "results_total": 2
                      }
                    }
                  },
                  "empty": {
                    "summary": "No machines",
                    "value": {
                      "body": {
                        "results": [],
                        "results_total": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "post": {
        "tags": [
          "Functions"
        ],
        "summary": "Create a function",
        "description": "Creates a new serverless function",
        "operationId": "createFunction",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.post.function",
        "requestBody": {
          "description": "Function to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionCreate"
              },
              "example": {
                "name": "my-function",
                "description": "A serverless function",
                "compute_asset": {
                  "namespace": "1753641292",
                  "handler": "index.handler",
                  "assets": [
                    {
                      "asset_name": "index.js",
                      "asset_type": "javascript",
                      "asset_value": "ZXhwb3J0cy5oYW5kbGVyID0gYXN5bmMgKCkgPT4gKHt9KTs=",
                      "link": false
                    },
                    {
                      "asset_name": "index.js",
                      "asset_type": "archive",
                      "asset_value": "ZXhwb3J0cy5oYW5kbGVyID0gYXN5bmMgKCkgPT4gKHt9KTs=",
                      "link": false
                    }
                  ],
                  "timeout": 30000,
                  "read_only_fs": true
                },
                "monitor_config": {
                  "ttl": 604800000,
                  "store_payload": true
                },
                "schema": {
                  "input": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    }
                  },
                  "output": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Function created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/Function"
                    }
                  }
                },
                "example": {
                  "body": {
                    "description": "A serverless function",
                    "name": "my-function",
                    "runtime": "nodejs",
                    "subject": "ms.compute.987654321.function.123456789",
                    "type": "created",
                    "modified": 1714378974,
                    "compute_asset": {
                      "namespace": "1753641292",
                      "service": "123456789",
                      "runtime": "nodejs",
                      "handler": "index.handler",
                      "timeout": 30000,
                      "read_only_fs": true
                    },
                    "monitor_config": {
                      "ttl": 604800000,
                      "store_payload": true
                    },
                    "schema": {
                      "input": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "output": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/functions/{collection_topic}/{function_topic}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionTopic"
        },
        {
          "name": "function_topic",
          "in": "path",
          "description": "Function topic identifier",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "123456789"
        }
      ],
      "get": {
        "tags": [
          "Functions"
        ],
        "summary": "Get a function",
        "description": "Retrieves a specific function by collection topic and function topic",
        "operationId": "getFunction",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.compute-item",
        "responses": {
          "200": {
            "description": "Function details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/FunctionWithAsset"
                    }
                  }
                },
                "example": {
                  "body": {
                    "description": "A serverless function",
                    "name": "my-function",
                    "runtime": "nodejs",
                    "subject": "ms.compute.987654321.function.123456789",
                    "type": "created",
                    "modified": 1714378974,
                    "compute_asset": {
                      "namespace": "1120867488",
                      "service": "123456789",
                      "runtime": "nodejs",
                      "handler": "index.handler",
                      "assets": [
                        {
                          "asset_name": "index.js",
                          "asset_type": "javascript",
                          "asset_value": "ZXhwb3J0cy5oYW5kbGVyID0gYXN5bmMgKCkgPT4gKHt9KTs=",
                          "link": false
                        }
                      ],
                      "timeout": 30000,
                      "read_only_fs": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "patch": {
        "tags": [
          "Functions"
        ],
        "summary": "Update a function",
        "description": "Updates an existing function",
        "operationId": "updateFunction",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.patch.function",
        "requestBody": {
          "description": "Function properties to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionUpdate"
              },
              "example": {
                "description": "Updated function description",
                "monitor_config": {
                  "ttl": 1209600000,
                  "store_payload": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/success"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/functions/{collection_topic}/{function_topic}/invoke": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionTopic"
        },
        {
          "name": "function_topic",
          "in": "path",
          "description": "Function topic identifier",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "123456789"
        }
      ],
      "post": {
        "tags": [
          "Functions"
        ],
        "summary": "Invoke a function",
        "description": "Invokes a function with the provided payload",
        "operationId": "invokeFunction",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.invoke.function",
        "requestBody": {
          "description": "Function invocation parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionInvoke"
              },
              "example": {
                "payload": "{\"name\":\"World\"}",
                "invocation_type": "RequestResponse"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Function invoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "string",
                      "description": "Response from function invocation"
                    }
                  }
                },
                "example": {
                  "body": "{\"message\":\"Hello, World!\"}"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/compute-assets/{collection_topic}/{resource_topic}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionTopic"
        },
        {
          "name": "resource_topic",
          "in": "path",
          "description": "Resource topic identifier (function or container)",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "123456789"
        }
      ],
      "get": {
        "tags": [
          "Compute Assets"
        ],
        "summary": "Get compute assets",
        "description": "Retrieves all assets for a specific compute resource (function or container)",
        "operationId": "getComputeAssets",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.compute-assets",
        "responses": {
          "200": {
            "description": "Compute resource assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/ComputeAsset"
                    }
                  }
                },
                "example": {
                  "body": {
                    "assets": [
                      {
                        "asset_name": "index.js",
                        "asset_type": "javascript",
                        "asset_value": "ZXhwb3J0cy5oYW5kbGVyID0gYXN5bmMgKCkgPT4gKHt9KTs=",
                        "link": false
                      }
                    ],
                    "namespace": "1753641292",
                    "service": "123456789",
                    "runtime": "nodejs",
                    "handler": "index.handler",
                    "timeout": 30000,
                    "read_only_fs": true,
                    "limits": {
                      "memory": "512MB"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "patch": {
        "tags": [
          "Compute Assets"
        ],
        "summary": "Update compute assets",
        "description": "Updates assets for a specific compute resource (function or container)",
        "operationId": "updateComputeAssets",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.patch.compute-assets",
        "requestBody": {
          "description": "Compute asset properties to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComputeAssetUpdate"
              },
              "example": {
                "handler": "index.newHandler",
                "assets": [
                  {
                    "asset_name": "index.js",
                    "asset_type": "javascript",
                    "asset_value": "Y29uc29sZS5sb2coIkhlbGxvLCBVcGRhdGVkIFdvcmxkISIpOwo=",
                    "link": false
                  }
                ],
                "timeout": 60000,
                "env_vars": [
                  "ENV=production"
                ],
                "read_only_fs": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/success"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/compute-assets/{collection_topic}/{resource_topic}/history": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionTopic"
        },
        {
          "name": "resource_topic",
          "in": "path",
          "description": "Resource topic identifier (function or container)",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "123456789"
        }
      ],
      "get": {
        "tags": [
          "Compute Assets"
        ],
        "summary": "Get compute asset history",
        "description": "Retrieves the history of a compute resource's assets (function or container)",
        "operationId": "getComputeAssetHistory",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.compute-asset-history",
        "responses": {
          "200": {
            "description": "Compute asset history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ComputeAsset"
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of history entries",
                          "example": 1
                        }
                      }
                    }
                  }
                },
                "example": {
                  "body": {
                    "results": [
                      {
                        "namespace": "1753641292",
                        "service": "123456789",
                        "runtime": "nodejs",
                        "handler": "index.handler",
                        "assets": [
                          {
                            "asset_name": "index.js",
                            "asset_type": "javascript",
                            "asset_value": "ZXhwb3J0cy5oYW5kbGVyID0gYXN5bmMgKCkgPT4gKHt9KTs=",
                            "link": false
                          }
                        ],
                        "limits": {
                          "memory": "1GB"
                        },
                        "timeout": 30000,
                        "read_only_fs": true,
                        "modified": 1714378974
                      },
                      {
                        "namespace": "1753641292",
                        "service": "123456789",
                        "runtime": "nodejs",
                        "handler": "index.newHandler",
                        "assets": [
                          {
                            "asset_name": "index.js",
                            "asset_type": "javascript",
                            "asset_value": "Y29uc29sZS5sb2coIkhlbGxvLCBVcGRhdGVkIFdvcmxkISIpOwo=",
                            "link": false
                          }
                        ],
                        "timeout": 60000,
                        "read_only_fs": true,
                        "modified": 1714380000,
                        "limits": {
                          "memory": "512MB"
                        }
                      }
                    ],
                    "results_total": 2
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/containers": {
      "get": {
        "tags": [
          "Containers"
        ],
        "summary": "Get all containers",
        "description": "Retrieves a list of all containers",
        "operationId": "getContainers",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.containers",
        "responses": {
          "200": {
            "description": "A list of containers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Container"
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of containers",
                          "example": 1
                        }
                      }
                    }
                  }
                },
                "example": {
                  "body": {
                    "results": [
                      {
                        "description": "A container for my application",
                        "name": "my-container",
                        "runtime": "docker",
                        "subject": "ms.compute.987654321.container.123456789",
                        "type": "created",
                        "modified": 1714378974
                      }
                    ],
                    "results_total": 1
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "post": {
        "tags": [
          "Containers"
        ],
        "summary": "Create a container",
        "description": "Creates a new container",
        "operationId": "createContainer",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.post.container",
        "requestBody": {
          "description": "Container to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContainerCreate"
              },
              "example": {
                "name": "my-container",
                "description": "A container for my application",
                "compute_asset": {
                  "namespace": "my-namespace",
                  "runtime": "docker",
                  "assets": [
                    {
                      "asset_name": "Dockerfile",
                      "asset_type": "file",
                      "asset_value": "RlJPTSBub2RlOjE4CldPUktESVIgL2FwcApDT1BZIC4gLgpSVU4gbnBtIGluc3RhbGwKRVhQT1NFIDgwODAKQ01EIFsibm9kZSIsICJpbmRleC5qcyJdCg==",
                      "link": false
                    }
                  ],
                  "read_only_fs": false
                },
                "monitor_config": {
                  "ttl": 604800000,
                  "store_payload": true
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Container created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/Container"
                    }
                  }
                },
                "example": {
                  "body": {
                    "description": "A container for my application",
                    "name": "my-container",
                    "runtime": "docker",
                    "subject": "ms.compute.987654321.container.123456789",
                    "type": "created",
                    "modified": 1714378974,
                    "compute_asset": {
                      "namespace": "my-namespace",
                      "service": "123456789",
                      "runtime": "docker",
                      "read_only_fs": false
                    },
                    "monitor_config": {
                      "ttl": 604800000,
                      "store_payload": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/containers/{collection_topic}/{container_topic}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionTopic"
        },
        {
          "name": "container_topic",
          "in": "path",
          "description": "Container topic identifier",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "123456789"
        }
      ],
      "get": {
        "tags": [
          "Containers"
        ],
        "summary": "Get a container",
        "description": "Retrieves a specific container by collection topic and container topic",
        "operationId": "getContainer",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.compute-item",
        "responses": {
          "200": {
            "description": "Container details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/schemas/ContainerWithAsset"
                    }
                  }
                },
                "example": {
                  "body": {
                    "description": "A container for my application",
                    "name": "my-container",
                    "runtime": "docker",
                    "subject": "ms.compute.987654321.container.123456789",
                    "type": "created",
                    "modified": 1714378974,
                    "compute_asset": {
                      "namespace": "2492545943",
                      "service": "123456789",
                      "runtime": "docker",
                      "assets": [
                        {
                          "asset_name": "Dockerfile",
                          "asset_type": "file",
                          "asset_value": "RlJPTSBub2RlOjE4CldPUktESVIgL2FwcApDT1BZIC4gLgpSVU4gbnBtIGluc3RhbGwKRVhQT1NFIDgwODAKQ01EIFsibm9kZSIsICJpbmRleC5qcyJdCg==",
                          "link": false
                        }
                      ],
                      "read_only_fs": false,
                      "limits": {
                        "memory": "1GB"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "patch": {
        "tags": [
          "Containers"
        ],
        "summary": "Update a container",
        "description": "Updates an existing container",
        "operationId": "updateContainer",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.patch.container",
        "requestBody": {
          "description": "Container properties to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContainerUpdate"
              },
              "example": {
                "description": "Updated container description",
                "monitor_config": {
                  "ttl": 1209600000,
                  "store_payload": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/success"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      },
      "delete": {
        "tags": [
          "Containers"
        ],
        "summary": "Delete a container instance",
        "description": "Terminates and deletes a specific container instance",
        "operationId": "deleteContainerInstance",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.delete.container-instance",
        "responses": {
          "200": {
            "$ref": "#/components/responses/success"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/containers/scale/{collection_topic}/{container_topic}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionTopic"
        },
        {
          "name": "container_topic",
          "in": "path",
          "description": "Container topic identifier",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "123456789"
        }
      ],
      "post": {
        "tags": [
          "Containers"
        ],
        "summary": "Scale container instances",
        "description": "Scales the number of container instances up or down",
        "operationId": "scaleContainer",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.post.container-scale",
        "requestBody": {
          "description": "Container scaling parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContainerScaleRequest"
              },
              "example": {
                "count": 3,
                "subject": "ms.compute.my-namespace.container.123456789"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/success"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/containers/instance/start": {
      "post": {
        "tags": [
          "Containers"
        ],
        "summary": "Start container instance",
        "description": "Starts a stopped container instance",
        "operationId": "startContainerInstance",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.post.container-instance-start",
        "requestBody": {
          "description": "Container instance start request",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BasicRequest"
              },
              "example": {
                "subject": "ms.compute.987654321.container.123456789.instance.abc123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/success"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/containers/instance/stop": {
      "post": {
        "tags": [
          "Containers"
        ],
        "summary": "Stop container instance",
        "description": "Stops a running container instance",
        "operationId": "stopContainerInstance",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.post.container-instance-stop",
        "requestBody": {
          "description": "Container instance stop request",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BasicRequest"
              },
              "example": {
                "subject": "ms.compute.987654321.container.123456789.instance.abc123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/success"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/machines": {
      "get": {
        "tags": [
          "Machines"
        ],
        "summary": "Get compute machines",
        "description": "Retrieves information about Hydra compute machines with optional filtering",
        "operationId": "getMachines",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.machines",
        "parameters": [
          {
            "name": "machine",
            "in": "query",
            "description": "Filter by specific machine identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespace",
            "in": "query",
            "description": "Filter by namespace",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runtime",
            "in": "query",
            "description": "Filter by runtime type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service",
            "in": "query",
            "description": "Filter by service identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by machine status",
            "schema": {
              "type": "string",
              "enum": [
                "running",
                "paused",
                "stopped",
                "*"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of compute machines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ComputeMachine"
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of machines",
                          "example": 1
                        }
                      }
                    }
                  }
                },
                "example": {
                  "body": {
                    "results": [
                      {
                        "hydra_machine_version": "0.0.1",
                        "id": "QVzJ6dGqpS6bsaY0qdZLtC",
                        "pid": 94890,
                        "status": "running",
                        "runtime": "nodejs",
                        "runtime_version": "4165",
                        "memory": "512.00 MB",
                        "rootfs": "/home/compute/machines/ABCD1234/QVzJ6dGqpS6bsaY0qdZLtC/rootfs",
                        "created": "2025-07-07T12:19:37.195049286Z",
                        "annotations": {
                          "account": "ABCD1234",
                          "bundle": "/home/compute",
                          "cpu": "824671010504",
                          "hydra.node": "mc-eu-two",
                          "machine": "QVzJ6dGqpS6bsaY0qdZLtC",
                          "mem": "512MB",
                          "namespace": "1753641292",
                          "runtime.version": "4165",
                          "service": "112623013",
                          "service.auto": "%strue",
                          "service.handler": "/main.main",
                          "service.version": "5116"
                        },
                        "owner": "ABCD1234",
                        "stats": {
                          "CgroupStats": {
                            "blkio_stats": {
                              "io_service_bytes_recursive": [
                                {
                                  "major": 9,
                                  "minor": 2,
                                  "op": "Read"
                                },
                                {
                                  "major": 9,
                                  "minor": 2,
                                  "op": "Write",
                                  "value": 114688
                                }
                              ],
                              "io_serviced_recursive": [
                                {
                                  "major": 9,
                                  "minor": 2,
                                  "op": "Read"
                                },
                                {
                                  "major": 9,
                                  "minor": 2,
                                  "op": "Write",
                                  "value": 25
                                }
                              ],
                              "psi": {
                                "full": {
                                  "avg10": 0,
                                  "avg300": 0,
                                  "avg60": 0,
                                  "total": 0
                                },
                                "some": {
                                  "avg10": 0,
                                  "avg300": 0,
                                  "avg60": 0,
                                  "total": 0
                                }
                              }
                            },
                            "cpu_stats": {
                              "cpu_usage": {
                                "percpu_usage_in_kernelmode": null,
                                "percpu_usage_in_usermode": null,
                                "total_usage": 494712000,
                                "usage_in_kernelmode": 62501000,
                                "usage_in_usermode": 432211000
                              },
                              "psi": {
                                "full": {
                                  "avg10": 0,
                                  "avg300": 0,
                                  "avg60": 0,
                                  "total": 1434
                                },
                                "some": {
                                  "avg10": 0,
                                  "avg300": 0,
                                  "avg60": 0,
                                  "total": 1434
                                }
                              },
                              "throttling_data": {
                                "periods": 318
                              }
                            },
                            "cpuset_stats": {
                              "cpu_exclusive": 0,
                              "mem_exclusive": 0,
                              "mem_hardwall": 0,
                              "memory_migrate": 0,
                              "memory_pressure": 0,
                              "memory_spread_page": 0,
                              "memory_spread_slab": 0,
                              "sched_load_balance": 0,
                              "sched_relax_domain_level": 0
                            },
                            "memory_stats": {
                              "cache": 40960,
                              "kernel_tcp_usage": {
                                "failcnt": 0,
                                "limit": 0
                              },
                              "kernel_usage": {
                                "failcnt": 0,
                                "limit": 0
                              },
                              "page_usage_by_numa": {
                                "anon": {},
                                "file": {},
                                "hierarchical": {
                                  "anon": {},
                                  "file": {},
                                  "total": {},
                                  "unevictable": {}
                                },
                                "total": {},
                                "unevictable": {}
                              },
                              "psi": {
                                "full": {
                                  "avg10": 0,
                                  "avg300": 0,
                                  "avg60": 0,
                                  "total": 0
                                },
                                "some": {
                                  "avg10": 0,
                                  "avg300": 0,
                                  "avg60": 0,
                                  "total": 0
                                }
                              },
                              "stats": {
                                "active_anon": 29196288,
                                "active_file": 0,
                                "anon": 29196288,
                                "anon_thp": 0,
                                "file": 40960,
                                "file_dirty": 0,
                                "file_mapped": 0,
                                "file_thp": 0,
                                "file_writeback": 0,
                                "inactive_anon": 0,
                                "inactive_file": 40960,
                                "kernel": 1617920,
                                "kernel_stack": 180224,
                                "pagetables": 966656,
                                "percpu": 10880,
                                "pgactivate": 0,
                                "pgdeactivate": 0,
                                "pgfault": 16794,
                                "pglazyfree": 0,
                                "pglazyfreed": 0,
                                "pgmajfault": 0,
                                "pgrefill": 0,
                                "pgscan": 0,
                                "pgscan_direct": 0,
                                "pgscan_khugepaged": 0,
                                "pgscan_kswapd": 0,
                                "pgsteal": 0,
                                "pgsteal_direct": 0,
                                "pgsteal_khugepaged": 0,
                                "pgsteal_kswapd": 0,
                                "sec_pagetables": 0,
                                "shmem": 0,
                                "shmem_thp": 0,
                                "slab": 444776,
                                "slab_reclaimable": 113824,
                                "slab_unreclaimable": 330952,
                                "sock": 0,
                                "swapcached": 0,
                                "thp_collapse_alloc": 0,
                                "thp_fault_alloc": 0,
                                "thp_swpout": 0,
                                "thp_swpout_fallback": 0,
                                "unevictable": 0,
                                "vmalloc": 0,
                                "workingset_activate_anon": 0,
                                "workingset_activate_file": 0,
                                "workingset_nodereclaim": 0,
                                "workingset_refault_anon": 0,
                                "workingset_refault_file": 0,
                                "workingset_restore_anon": 0,
                                "workingset_restore_file": 0,
                                "zswap": 0,
                                "zswapped": 0,
                                "zswpin": 0,
                                "zswpout": 0,
                                "zswpwb": 0
                              },
                              "swap_only_usage": {
                                "failcnt": 0,
                                "limit": 0
                              },
                              "swap_usage": {
                                "failcnt": 0,
                                "limit": 1073741824,
                                "usage": 30855168
                              },
                              "usage": {
                                "failcnt": 0,
                                "limit": 1073741824,
                                "max_usage": 32432128,
                                "usage": 30855168
                              },
                              "use_hierarchy": true
                            },
                            "pids_stats": {
                              "current": 11,
                              "limit": 231354
                            },
                            "rdma_stats": {}
                          },
                          "IntelRdtStats": null,
                          "Interfaces": [
                            {
                              "Name": "hh00",
                              "RxBytes": 440358,
                              "RxDropped": 0,
                              "RxErrors": 0,
                              "RxPackets": 1640,
                              "TxBytes": 688993,
                              "TxDropped": 0,
                              "TxErrors": 0,
                              "TxPackets": 1911
                            }
                          ]
                        },
                        "type": "Compute Function"
                      }
                    ],
                    "results_total": 1
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/runtimes": {
      "get": {
        "tags": [
          "Runtimes"
        ],
        "summary": "Get runtimes",
        "description": "Retrieves all available runtimes",
        "operationId": "getRuntimes",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.runtimes",
        "responses": {
          "200": {
            "description": "A list of available runtimes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of runtimes"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "body": {
                    "results": [
                      {
                        "asset": "runtime.nodejs.hydra",
                        "asset_sha": "SHA-256=5zzW-c28ZaU0MX_dxmscVO_Gh9r67gbANeM8dcoNTFQ=",
                        "description": "",
                        "limits": {
                          "amd.com/gpu": "0",
                          "cpu": "2",
                          "intel.com/gpu": "0",
                          "memory": "512mb",
                          "nvidia.com/gpu": "1"
                        },
                        "modified": 1761214283,
                        "name": "nodejs",
                        "runtime_command": "node index.js",
                        "scaling": {
                          "lower_cpu_percent": 0,
                          "lower_memory_percent": 0,
                          "lower_outstanding": 5,
                          "lower_rps_limit": 10,
                          "max_instances": 1,
                          "min_instances": 1,
                          "sample_period": 0,
                          "timeout_period": 28800000000000,
                          "upper_cpu_percent": 0,
                          "upper_memory_percent": 0,
                          "upper_outstanding": 10,
                          "upper_rps_limit": 30
                        },
                        "sequence": 1,
                        "subject": "$KV.microstrate-compute-asset.runtime.nodejs.hydra",
                        "version": "4165"
                      }
                    ],
                    "results_total": 1
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/compute/services": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "Get compute services",
        "description": "Retrieves a list of all available compute services",
        "operationId": "getServices",
        "x-resource-type": "service",
        "x-resource": "microstrate.compute.get.services",
        "responses": {
          "200": {
            "description": "List of compute services",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "results_total": {
                          "type": "integer",
                          "description": "Total number of services"
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "subject": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "body": {
                    "results": [
                      {
                        "description": "The Zeus database action service API.",
                        "endpoints": [
                          {
                            "metadata": {
                              "description": "Create a new database.",
                              "format": "application/json"
                            },
                            "name": "database",
                            "queue_group": "q",
                            "subject": "zeus.create.database"
                          },
                          {
                            "metadata": {
                              "description": "Delete an database document.",
                              "format": "application/json"
                            },
                            "name": "document",
                            "queue_group": "q",
                            "subject": "zeus.delete.document"
                          },
                          {
                            "metadata": {
                              "description": "Delete/purge an entire database.",
                              "format": "application/json"
                            },
                            "name": "database",
                            "queue_group": "q",
                            "subject": "zeus.delete.database"
                          },
                          {
                            "metadata": {
                              "description": "Update a database configuration.",
                              "format": "application/json"
                            },
                            "name": "database",
                            "queue_group": "q",
                            "subject": "zeus.update.database"
                          }
                        ],
                        "id": "t4H1WBq0XBAEKMt0vSPikj",
                        "metadata": {},
                        "name": "zeus-action-service",
                        "type": "evari.bellerophon.kraken.v1.info_response",
                        "version": "0.1.0"
                      }
                    ],
                    "results_total": 1
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "api_key_auth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    },
    "parameters": {
      "CollectionTopic": {
        "name": "collection_topic",
        "in": "path",
        "description": "Collection topic identifier",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "ms.compute.1714378974.collection"
      }
    },
    "schemas": {
      "BasicRequest": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string",
            "description": "The subject identifier for the resource"
          },
          "type": {
            "type": "string",
            "description": "The type of request"
          }
        },
        "example": {
          "subject": "ms.compute.my-namespace.container.123456789"
        }
      },
      "ComputeMachine": {
        "type": "object",
        "properties": {
          "hydra_machine_version": {
            "type": "string",
            "description": "The hydra node version"
          },
          "id": {
            "type": "string",
            "description": "The machine's VM ID"
          },
          "pid": {
            "type": "integer",
            "description": "The init process ID in the parent namespace"
          },
          "status": {
            "type": "string",
            "description": "Current status of the machine (running, paused, stopped, etc.)"
          },
          "runtime": {
            "type": "string",
            "description": "Runtime running within this machine"
          },
          "runtime_version": {
            "type": "string",
            "description": "Runtime version running within this machine"
          },
          "memory": {
            "type": "string",
            "description": "Memory limit for the hydra machine"
          },
          "rootfs": {
            "type": "string",
            "description": "Path to a directory containing the hydra machine's root filesystem"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Creation time of the container in UTC"
          },
          "annotations": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "User defined annotations added to the config"
          },
          "owner": {
            "type": "string",
            "description": "The owner of the state directory (the owner of the machine)"
          },
          "stats": {
            "type": "object",
            "description": "Machine statistics"
          },
          "type": {
            "type": "string",
            "description": "Type of workload running on machine (function, service, etc.)"
          }
        }
      },
      "GetMachinesRequest": {
        "type": "object",
        "properties": {
          "machine": {
            "type": "string",
            "description": "Filter by specific machine identifier"
          },
          "namespace": {
            "type": "string",
            "description": "Filter by namespace"
          },
          "runtime": {
            "type": "string",
            "description": "Filter by runtime type"
          },
          "service": {
            "type": "string",
            "description": "Filter by service identifier"
          },
          "status": {
            "type": "string",
            "description": "Filter by machine status",
            "enum": [
              "running",
              "paused",
              "stopped",
              "*"
            ]
          }
        }
      },
      "HydraMachineScaling": {
        "type": "object",
        "description": "Auto-scaling configuration. For ephemeral functions, scaling is based on request load (RPS and outstanding requests). For persistent machines, scaling uses CPU/memory metrics. Override runtime defaults if needed.",
        "properties": {
          "min_instances": {
            "type": "integer",
            "description": "Minimum number of instances to maintain. Set to 0 for scale-to-zero.",
            "minimum": 0,
            "default": 0,
            "example": 1
          },
          "max_instances": {
            "type": "integer",
            "description": "Maximum number of instances allowed. Prevents runaway scaling costs.",
            "minimum": 1,
            "default": 10,
            "example": 10
          },
          "upper_rps_limit": {
            "type": "integer",
            "description": "Upper requests-per-second threshold. Scale up when exceeded (for functions/services with request tracking).",
            "minimum": 1,
            "example": 100
          },
          "lower_rps_limit": {
            "type": "integer",
            "description": "Lower requests-per-second threshold. Scale down when below this limit.",
            "minimum": 0,
            "example": 10
          },
          "upper_outstanding": {
            "type": "integer",
            "description": "Upper outstanding requests limit. Scale up when this many requests are queued/processing.",
            "minimum": 1,
            "example": 50
          },
          "lower_outstanding": {
            "type": "integer",
            "description": "Lower outstanding requests limit. Scale down when queue is below this size.",
            "minimum": 0,
            "example": 5
          },
          "timeout_period": {
            "type": "integer",
            "description": "Timeout period for idle instances in nanoseconds (Go duration format). Idle instances are terminated after this period.",
            "example": 300000000000
          },
          "upper_cpu_percent": {
            "type": "integer",
            "description": "Upper CPU usage percentage threshold (average over sample period). Scale up when exceeded.",
            "minimum": 1,
            "maximum": 100,
            "example": 80
          },
          "lower_cpu_percent": {
            "type": "integer",
            "description": "Lower CPU usage percentage threshold. Scale down when below this level.",
            "minimum": 0,
            "maximum": 100,
            "example": 20
          },
          "upper_memory_percent": {
            "type": "integer",
            "description": "Upper memory usage percentage threshold (average over sample period). Scale up when exceeded.",
            "minimum": 1,
            "maximum": 100,
            "example": 85
          },
          "lower_memory_percent": {
            "type": "integer",
            "description": "Lower memory usage percentage threshold. Scale down when below this level.",
            "minimum": 0,
            "maximum": 100,
            "example": 30
          },
          "sample_period": {
            "type": "integer",
            "description": "Sample period for CPU and memory metrics in nanoseconds (Go duration format). Metrics are averaged over this window.",
            "example": 60000000000
          }
        }
      },
      "Collection": {
        "type": "object",
        "properties": {
          "collection_type": {
            "type": "string",
            "description": "Collection type",
            "example": "function",
            "enum": [
              "container",
              "function"
            ]
          },
          "description": {
            "type": "string",
            "description": "Collection description",
            "example": "A collection for my compute resources"
          },
          "name": {
            "type": "string",
            "description": "Collection name",
            "example": "my-collection"
          },
          "subject": {
            "type": "string",
            "description": "Collection subject identifier",
            "example": "ms.compute.123456789.collection"
          },
          "type": {
            "type": "string",
            "description": "Resource type",
            "example": "created"
          },
          "modified": {
            "type": "integer",
            "description": "Last modification timestamp",
            "example": 1714378974
          }
        }
      },
      "CollectionCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Collection name",
            "example": "my-collection"
          },
          "description": {
            "type": "string",
            "description": "Collection description",
            "example": "A collection for my compute resources"
          },
          "collection_type": {
            "type": "string",
            "description": "Collection type",
            "example": "function",
            "enum": [
              "container",
              "function"
            ]
          }
        }
      },
      "CollectionUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Collection name",
            "example": "my-collection"
          },
          "description": {
            "type": "string",
            "description": "Collection description",
            "example": "A collection for my compute resources"
          },
          "collection_type": {
            "type": "string",
            "description": "Collection type",
            "example": "function",
            "enum": [
              "container",
              "function"
            ]
          }
        }
      },
      "ComputeAssetItem": {
        "type": "object",
        "required": [
          "asset_name",
          "asset_value"
        ],
        "properties": {
          "asset_name": {
            "type": "string",
            "description": "Name/path of the asset within the function environment (e.g., 'index.js', 'lib/helper.js')",
            "example": "index.js"
          },
          "asset_type": {
            "type": "string",
            "description": "Type of asset: 'file' for individual files, 'archive' for compressed directories, 'binary' for executables.",
            "example": "file"
          },
          "asset_value": {
            "type": "string",
            "description": "Content (if link=false) or object store key (if link=true). Has to be encoded to base-64 in both cases",
            "example": "Y29uc29sZS5sb2coIkhlbGxvLCBXb3JsZCEiKTsK"
          },
          "link": {
            "type": "boolean",
            "description": "If true, asset_value is an object store key. If false, asset_value contains the function definition. Links are created automatically during deployment.",
            "default": false
          }
        }
      },
      "ComputeResource": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Resource description"
          },
          "name": {
            "type": "string",
            "description": "Resource name"
          },
          "runtime": {
            "type": "string",
            "description": "Runtime environment"
          },
          "subject": {
            "type": "string",
            "description": "Subject identifier"
          },
          "type": {
            "type": "string",
            "description": "Message type (created, patched, etc.)"
          },
          "resource_type": {
            "type": "string",
            "enum": [
              "function",
              "container"
            ],
            "description": "Type of compute resource"
          },
          "modified": {
            "type": "integer",
            "description": "Last modification timestamp"
          }
        }
      },
      "ContainerScaleRequest": {
        "type": "object",
        "required": [
          "count"
        ],
        "properties": {
          "count": {
            "type": "integer",
            "minimum": 1,
            "description": "Number of container instances to scale to"
          },
          "subject": {
            "type": "string",
            "description": "Container subject identifier"
          },
          "namespace": {
            "type": "string",
            "description": "Container namespace (auto-populated from subject)"
          },
          "service": {
            "type": "string",
            "description": "Container service identifier (auto-populated from subject)"
          }
        }
      },
      "Function": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Function description"
          },
          "name": {
            "type": "string",
            "description": "Function name"
          },
          "runtime": {
            "type": "string",
            "description": "Runtime environment"
          },
          "subject": {
            "type": "string",
            "description": "Subject identifier"
          },
          "type": {
            "type": "string",
            "description": "Message type (created, patched, etc.)"
          },
          "modified": {
            "type": "integer",
            "description": "Last modification timestamp"
          },
          "monitor_config": {
            "$ref": "#/components/schemas/MonitorConfig"
          },
          "schema": {
            "$ref": "#/components/schemas/Schema"
          },
          "size": {
            "type": "string",
            "description": "Size configuration for function resources"
          }
        }
      },
      "Container": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Container description"
          },
          "name": {
            "type": "string",
            "description": "Container name"
          },
          "runtime": {
            "type": "string",
            "description": "Runtime environment"
          },
          "subject": {
            "type": "string",
            "description": "Subject identifier"
          },
          "type": {
            "type": "string",
            "description": "Message type (created, patched, etc.)"
          },
          "modified": {
            "type": "integer",
            "description": "Last modification timestamp"
          },
          "monitor_config": {
            "$ref": "#/components/schemas/MonitorConfig"
          },
          "size": {
            "type": "string",
            "description": "Size configuration for container resources"
          }
        }
      },
      "ComputeAsset": {
        "type": "object",
        "required": [
          "namespace",
          "assets"
        ],
        "properties": {
          "namespace": {
            "type": "string",
            "description": "A namespace identifier - organizes functions into logical groups",
            "example": "1753641292"
          },
          "handler": {
            "type": "string",
            "description": "Entry point for the function. Format depends on runtime (e.g., '{file_name_without_extension}.{function_name}' for Node.js, path to binary for native code). Required for functions",
            "example": "index.handler"
          },
          "runtime": {
            "type": "string",
            "description": "Runtime environment name (must match available provider runtimes)",
            "default": "nodejs",
            "example": "nodejs"
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComputeAssetItem"
            },
            "description": "Code and configuration files for the function. Assets can be inline (base64) or links to object store"
          },
          "timeout": {
            "type": "integer",
            "description": "Function execution timeout in milliseconds (starts when user code executes)",
            "default": 30000,
            "minimum": 1000,
            "maximum": 900000,
            "example": 30000
          },
          "occ": {
            "type": "integer",
            "format": "uint64",
            "description": "Optimistic Concurrency Control version for the function definition. If greater than 0, performs an OCC update (conditional update based on current version). If 0 or omitted, performs a standard put operation creating a new version. Used to prevent concurrent modification conflicts.",
            "minimum": 0,
            "example": 5
          },
          "read_only_fs": {
            "type": "boolean",
[...]
