{
    "openapi": "3.0.0",
    "info": {
        "title": "Qiva Hub API",
        "x-gateway-name": "API Gateway",
        "description": "API for managing collections, nodes, agents, and workflows in quiva.ai Hub",
        "version": "0.1.0",
        "contact": {
            "name": "quiva.ai Support"
        }
    },
    "servers": [
        {
            "url": "https://api.quiva.ai",
            "description": "Production API server"
        }
    ],
    "paths": {
        "/hub/marketplace/workflows": {
            "get": {
                "tags": [
                    "Marketplace"
                ],
                "summary": "List marketplace workflows",
                "description": "Retrieves workflows available in the marketplace with filtering options",
                "operationId": "listMarketplaceFlows",
                "x-resource-type": "service",
                "x-resource": "microstrate.hub.get.list-marketplace-flows",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        },
                        "description": "Page number"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Number of items per page"
                    },
                    {
                        "name": "featured",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        },
                        "description": "Filter for featured products only"
                    },
                    {
                        "name": "mcp",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        },
                        "description": "Include MCP products"
                    },
                    {
                        "name": "flow",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        },
                        "description": "Include flow products"
                    },
                    {
                        "name": "agent",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        },
                        "description": "Include agent products"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Search term (minimum 3 characters)"
                    },
                    {
                        "name": "subcategories",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Comma-separated subcategories to filter by"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Marketplace workflows retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketplaceWorkflowList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hub/marketplace/submissions": {
            "get": {
                "tags": [
                    "Marketplace"
                ],
                "summary": "List marketplace submissions",
                "description": "Lists marketplace submissions for the authenticated user",
                "operationId": "listMarketplaceSubmissions",
                "x-resource-type": "service",
                "x-resource": "microstrate.hub.get.list-marketplace-submissions",
                "responses": {
                    "200": {
                        "description": "Submissions retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/WorkflowMarketplaceSubmission"
                                            }
                                        },
                                        "results_total": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Marketplace"
                ],
                "summary": "Create marketplace submission",
                "description": "Submits a workflow to the marketplace for review",
                "operationId": "createMarketplaceSubmission",
                "x-resource-type": "service",
                "x-resource": "microstrate.hub.post.create-marketplace-submission",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WorkflowMarketplaceSubmission"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Submission created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hub/marketplace/submissions/{topic}": {
            "parameters": [
                {
                    "name": "topic",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    },
                    "description": "Submission topic"
                }
            ],
            "get": {
                "tags": [
                    "Marketplace"
                ],
                "summary": "Get marketplace submission",
                "description": "Retrieves a specific marketplace submission",
                "operationId": "getMarketplaceSubmission",
                "x-resource-type": "service",
                "x-resource": "microstrate.hub.get.get-marketplace-submission",
                "responses": {
                    "200": {
                        "description": "Submission retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkflowMarketplaceSubmission"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Marketplace"
                ],
                "summary": "Update marketplace submission",
                "description": "Updates an existing marketplace submission",
                "operationId": "updateMarketplaceSubmission",
                "x-resource-type": "service",
                "x-resource": "microstrate.hub.patch.update-marketplace-submission",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WorkflowMarketplaceSubmission"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Submission updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Marketplace"
                ],
                "summary": "Delete marketplace submission",
                "description": "Submits a deletion request for a marketplace submission",
                "operationId": "deleteMarketplaceSubmission",
                "x-resource-type": "service",
                "x-resource": "microstrate.hub.delete.delete-marketplace-submission",
                "responses": {
                    "200": {
                        "description": "Deletion request submitted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hub/marketplace/workflows/buy": {
            "post": {
                "tags": [
                    "Marketplace"
                ],
                "summary": "Obtain marketplace product",
                "description": "Copies all resources associated with a marketplace workflow to user's account",
                "operationId": "obtainMarketplaceProduct",
                "x-resource-type": "service",
                "x-resource": "microstrate.hub.post.obtain-marketplace-product",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "product_id"
                                ],
                                "properties": {
                                    "product_id": {
                                        "type": "string",
                                        "description": "Marketplace product identifier"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Product obtained successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hub/marketplace/workflows/download": {
            "post": {
                "tags": [
                    "Marketplace"
                ],
                "summary": "Download marketplace product",
                "description": "Downloads a marketplace product to a specific collection",
                "operationId": "downloadMarketplaceProduct",
                "x-resource-type": "service",
                "x-resource": "microstrate.hub.post.download-marketplace-product",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DownloadProductType"
                            },
                            "example": {
                                "product_id": "marketplace.flow.payment-processor",
                                "collection_subject": "ms.hub.config.collection.workflow.1234567890",
                                "secrets": [
                                    {
                                        "key": "STRIPE_API_KEY",
                                        "name": "Stripe API Key",
                                        "description": "Your Stripe secret key",
                                        "new_key": "MY_STRIPE_KEY"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Product downloaded successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status_code": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hub/marketplace/download-stats": {
            "get": {
                "tags": [
                    "Marketplace"
                ],
                "summary": "Marketplace product download stats",
                "description": "Returns download statistics for marketplace products",
                "operationId": "getMarketplaceProductDownloadStats",
                "x-resource-type": "service",
                "x-resource": "microstrate.hub.get.marketplace-product-download-stats",
                "parameters": [
                    {
                        "name": "product_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Product identifier"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Download statistics retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "total_downloads": {
                                            "type": "integer"
                                        },
                                        "users_downloaded": {
                                            "type": "integer"
                                        },
                                        "rating": {
                                            "type": "number"
                                        },
                                        "votes": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hub/marketplace/product": {
            "get": {
                "tags": [
                    "Marketplace"
                ],
                "summary": "Get marketplace product",
                "description": "Retrieves a specific marketplace product by ID",
                "operationId": "getMarketplaceProduct",
                "x-resource-type": "service",
                "x-resource": "microstrate.hub.get.marketplace-product",
                "parameters": [
                    {
                        "name": "product_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Product identifier"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Product retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketplaceProduct"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hub/marketplace/rate-product": {
            "post": {
                "tags": [
                    "Marketplace"
                ],
                "summary": "Rate marketplace product",
                "description": "Submits a rating (1-5) for a marketplace product",
                "operationId": "rateMarketplaceProduct",
                "x-resource-type": "service",
                "x-resource": "microstrate.hub.post.marketplace-rate-product",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RateProductRequest"
                            },
                            "example": {
                                "product_id": "marketplace.flow.payment-processor",
                                "rating": 5
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Rating submitted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hub/agent-sessions/search": {
            "post": {
                "description": "Queries agent session logs and execution history",
                "operationId": "searchAgentSessions",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "agent_name": {
                                        "type": "string"
                                    },
                                    "end_time": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "session_id": {
                                        "type": "string"
                                    },
                                    "start_time": {
                                        "format": "date-time",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "results": {
                                            "items": {
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": "Agent sessions retrieved successfully"
                    }
                },
                "summary": "Search agent session logs",
                "tags": [
                    "Logs"
                ],
                "x-resource": "microstrate.hub.post.search-agent-sessions",
                "x-resource-type": "service"
            }
        },
        "/hub/agent/cancel": {
            "post": {
                "description": "Cancels one or more agents that were registered with the cancel_token",
                "operationId": "cancelAgents",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "cancel_token": "my-session-token-123"
                            },
                            "schema": {
                                "$ref": "#/components/schemas/AgentCancelRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelResponse"
                                }
                            }
                        },
                        "description": "Agents cancelled successfully"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Bad request"
                    }
                },
                "summary": "Cancel agents",
                "tags": [
                    "Agents"
                ],
                "x-resource": "microstrate.hub.post.cancel-agents",
                "x-resource-type": "service"
            }
        },
        "/hub/agent/invoke": {
            "post": {
                "description": "Invokes an AI agent with specified configuration and prompt",
                "operationId": "invokeAgent",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "examples": {
                                "withAgentDefinition": {
                                    "summary": "Invoke agent with inline definition",
                                    "value": {
                                        "agent": {
                                            "behaviour": "You are a data analysis expert",
                                            "description": "Analyzes data patterns",
                                            "has_tools": false,
                                            "llm_provider": "claude",
                                            "model": "claude-3-haiku-20240307",
                                            "name": "data-analyzer",
                                            "timeout": 60000
                                        },
                                        "prompt": "Analyze sales trends",
                                        "visibility": "team"
                                    }
                                },
                                "withNodeSubject": {
                                    "summary": "Invoke agent by node subject",
                                    "value": {
                                        "node_subject": "ms.hub.config.node.805092869.agent123",
                                        "prompt": "Analyze this data",
                                        "session_id": "session_abc123",
                                        "visibility": "user"
                                    }
                                }
                            },
                            "schema": {
                                "$ref": "#/components/schemas/AgentNodeInvokeRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgentInvokeResponse"
                                }
                            }
                        },
                        "description": "Agent invoked successfully"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Bad request"
                    }
                },
                "summary": "Invoke an AI agent",
                "tags": [
                    "Agents"
                ],
                "x-resource": "microstrate.hub.post.invoke-agent",
                "x-resource-type": "service"
            }
        },
        "/hub/agent/mcp": {
            "get": {
                "description": "Retrieves a list of MCP (Model Context Protocol) servers",
                "operationId": "listMcpServers",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListMCPResponse"
                                }
                            }
                        },
                        "description": "MCP servers retrieved successfully"
                    }
                },
                "summary": "List MCP servers",
                "tags": [
                    "MCP"
                ],
                "x-resource": "microstrate.hub.get.list-mcp-servers",
                "x-resource-type": "service"
            },
            "post": {
                "description": "Generates a new MCP server from an OpenAPI specification",
                "operationId": "generateMcpServer",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "description": "API for managing resources",
                                "openapi_spec": "{\"openapi\":\"3.0.0\",\"info\":{\"title\":\"My API\"},...}",
                                "server_name": "my-api-server"
                            },
                            "schema": {
                                "$ref": "#/components/schemas/GenerateMCPRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenerateMCPResponse"
                                }
                            }
                        },
                        "description": "MCP server generated successfully"
                    }
                },
                "summary": "Generate MCP server",
                "tags": [
                    "MCP"
                ],
                "x-resource": "microstrate.hub.post.generate-mcp-server",
                "x-resource-type": "service"
            }
        },
        "/hub/agent/mcp/{server_id}": {
            "delete": {
                "description": "Deletes an MCP server",
                "operationId": "deleteMcpServer",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteMCPResponse"
                                }
                            }
                        },
                        "description": "MCP server deleted successfully"
                    }
                },
                "summary": "Delete MCP server",
                "tags": [
                    "MCP"
                ],
                "x-resource": "microstrate.hub.delete.delete-mcp-server",
                "x-resource-type": "service"
            },
            "parameters": [
                {
                    "description": "MCP server identifier",
                    "in": "path",
                    "name": "server_id",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "patch": {
                "description": "Updates an existing MCP server configuration",
                "operationId": "updateMcpServer",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateGenerateMCPRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        },
                        "description": "MCP server updated successfully"
                    }
                },
                "summary": "Update MCP server",
                "tags": [
                    "MCP"
                ],
                "x-resource": "microstrate.hub.patch.update-mcp-server",
                "x-resource-type": "service"
            }
        },
        "/hub/run-logs/search": {
            "post": {
                "description": "Queries and searches through flow execution logs",
                "operationId": "searchLogs",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "end_time": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "limit": {
                                        "default": 100,
                                        "type": "integer"
                                    },
                                    "query": {
                                        "description": "Search query",
                                        "type": "string"
                                    },
                                    "start_time": {
                                        "format": "date-time",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "results": {
                                            "items": {
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": "Logs retrieved successfully"
                    }
                },
                "summary": "Search flow run logs",
                "tags": [
                    "Logs"
                ],
                "x-resource": "microstrate.hub.post.search-logs",
                "x-resource-type": "service"
            }
        },
        "/hub/run-stats": {
            "get": {
                "description": "Retrieves statistics about workflow execution including runs, paused, and errored flows",
                "operationId": "getRunStats",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "example": {
                                    "errored": 8,
                                    "paused": 12,
                                    "runs": 1523
                                },
                                "schema": {
                                    "properties": {
                                        "errored": {
                                            "description": "Number of workflows with errors",
                                            "type": "integer"
                                        },
                                        "paused": {
                                            "description": "Number of paused workflows",
                                            "type": "integer"
                                        },
                                        "runs": {
                                            "description": "Total number of workflow runs",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": "Run statistics retrieved successfully"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Bad request"
                    }
                },
                "summary": "Get flow run statistics",
                "tags": [
                    "Statistics"
                ],
                "x-resource": "microstrate.hub.get.run-stats",
                "x-resource-type": "service"
            }
        },
        "/hub/schedule": {
            "post": {
                "description": "Schedules a workflow to run at specified times or intervals",
                "operationId": "scheduleFlowRun",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "examples": {
                                "scheduleOnce": {
                                    "summary": "Schedule for a specific time",
                                    "value": {
                                        "description": "Generate daily sales report",
                                        "name": "Daily Report",
                                        "payload": {
                                            "subject": "ms.hub.config.workflow.1234567890.report-flow",
                                            "trigger": {
                                                "report_type": "sales"
                                            }
                                        },
                                        "topic": "daily-report-123",
                                        "trigger_on": "2025-06-01T09:00:00Z"
                                    }
                                },
                                "scheduleRecurring": {
                                    "summary": "Schedule recurring execution",
                                    "value": {
                                        "description": "Sync data every hour",
                                        "name": "Hourly Sync",
                                        "payload": {
                                            "subject": "ms.hub.config.workflow.1234567890.sync-flow",
                                            "trigger": {
                                                "source": "external-db"
                                            }
                                        },
                                        "topic": "hourly-sync-456",
                                        "trigger_every": "1h"
                                    }
                                }
                            },
                            "schema": {
                                "$ref": "#/components/schemas/ScheduleFlowRun"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        },
                        "description": "Flow scheduled successfully"
                    }
                },
                "summary": "Schedule a flow run",
                "tags": [
                    "Scheduling"
                ],
                "x-resource": "microstrate.hub.post.schedule-flow",
                "x-resource-type": "service"
            }
        },
        "/hub/scheduled": {
            "get": {
                "description": "Retrieves a list of scheduled flow runs for the authenticated user",
                "operationId": "listScheduledFlows",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "results": {
                                            "items": {
                                                "$ref": "#/components/schemas/ScheduleFlowRun"
                                            },
                                            "type": "array"
                                        },
                                        "results_total": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": "Scheduled flows retrieved successfully"
                    }
                },
                "summary": "List scheduled flow runs",
                "tags": [
                    "Scheduling"
                ],
                "x-resource": "microstrate.hub.get.scheduled-flows",
                "x-resource-type": "service"
            }
        },
        "/hub/test-eval": {
            "post": {
                "description": "Tests JavaScript evaluation for workflow nodes",
                "operationId": "testEval",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "code": "const total = params.items.reduce((sum, item) => sum + item.price, 0); return total;",
                                "params": {
                                    "items": [
                                        {
                                            "price": 10
                                        },
                                        {
                                            "price": 20
                                        }
                                    ]
                                }
                            },
                            "schema": {
                                "properties": {
                                    "code": {
                                        "description": "JavaScript code to evaluate",
                                        "type": "string"
                                    },
                                    "params": {
                                        "description": "Parameters available in the evaluation context",
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "code"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "description": "Evaluation result"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": "Evaluation result"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Evaluation error"
                    }
                },
                "summary": "Test eval function",
                "tags": [
                    "Testing"
                ],
                "x-resource": "microstrate.hub.post.test-eval",
                "x-resource-type": "service"
            }
        },
        "/hub/test-jpath": {
            "post": {
                "description": "Tests JPath expression evaluation for data transformation",
                "operationId": "testJPath",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "data": {
                                    "user": {
                                        "age": 30,
                                        "name": "John"
                                    }
                                },
                                "path": "user.name"
                            },
                            "schema": {
                                "properties": {
                                    "data": {
                                        "description": "Input data to transform"
                                    },
                                    "path": {
                                        "description": "JPath expression or mapping object"
                                    }
                                },
                                "required": [
                                    "data",
                                    "path"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "description": "Transformed data"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": "JPath evaluation result"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "JPath error"
                    }
                },
                "summary": "Test JPath mapping",
                "tags": [
                    "Testing"
                ],
                "x-resource": "microstrate.hub.post.test-jpath",
                "x-resource-type": "service"
            }
        },
        "/hub/unschedule/{topic}": {
            "delete": {
                "description": "Removes a scheduled flow run",
                "operationId": "unscheduleFlowRun",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        },
                        "description": "Flow unscheduled successfully"
                    }
                },
                "summary": "Unschedule a flow run",
                "tags": [
                    "Scheduling"
                ],
                "x-resource": "microstrate.hub.delete.unschedule-flow",
                "x-resource-type": "service"
            },
            "parameters": [
                {
                    "description": "Topic of the scheduled flow to unschedule",
                    "in": "path",
                    "name": "topic",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/hub/collections": {
            "post": {
                "tags": [
                    "Collections"
                ],
                "summary": "Create a new collection",
                "description": "Creates a new collection for organizing nodes or workflows",
                "operationId": "createCollection",
                "x-resource-type": "service",
                "x-resource": "microstrate.hub.post.collection",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCollectionRequest"
                            },
                            "examples": {
                                "NodeCollection": {
                                    "summary": "Create a node collection",
                                    "value": {
                                        "name": "Payment Processing Nodes",
                                        "collection_type": "node",
                                        "description": "Collection of reusable payment processing node templates"
                                    }
                                },
                                "WorkflowCollection": {
                                    "summary": "Create a workflow collection",
                                    "value": {
                                        "name": "Order Management Flows",
                                        "collection_type": "workflow",
                                        "description": "Workflows for handling order lifecycle"
                                    }
                                },
                                "MinimalCollection": {
                                    "summary": "Create collection with minimal fields",
                                    "value": {
                                        "name": "Utilities",
                                        "collection_type": "node"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Collection created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateCollectionResponse"
                                },
                                "examples": {
                                    "NodeCollectionCreated": {
                                        "summary": "Node collection created",
                                        "value": {
                                            "subject": "ms.hub.config.collection.node.805092869",
                                            "name": "Payment Processing Nodes",
                                            "collection_type": "node",
                                            "topic": "805092869",
                                            "description": "Collection of reusable payment processing node templates",
                                            "modified": 1748533179
                                        }
                                    },
                                    "WorkflowCollectionCreated": {
                                        "summary": "Workflow collection created",
                                        "value": {
                                            "subject": "ms.hub.config.collection.workflow.1508781670",
                                            "name": "Order Management Flows",
                                            "collection_type": "workflow",
                                            "topic": "1508781670",
                                            "description": "Workflows for handling order lifecycle",
                                            "modified": 1748533200
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "NameRequired": {
                                        "value": {
                                            "error": "a name is required"
                                        }
                                    },
                                    "InvalidType": {
                                        "value": {
                                            "error": "invalid collection type. Valid types are: node, workflow"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Collection already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": "collection exists:ms.hub.config.collection.node.1234567890"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Collections"
                ],
                "summary": "List collections",
                "description": "Retrieves a list of collections",
                "operationId": "getCollections",
                "x-resource-type": "service",
                "x-resource": "microstrate.hub.get.list-collections",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/queryCollectionType"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Collection retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "results",
                                        "results_total"
                                    ],
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "description": "Array of results",
                                            "items": {
                                                "$ref": "#/components/schemas/GetCollectionResponse"
                                            }
                                        },
                                        "results_total": {
                                            "type": "integer",
                                            "description": "Number of results"
                                        }
                                    }
                                },
                                "examples": {
                                    "AllCollections": {
                                        "summary": "List all collections (no filter)",
                                        "value": {
                                            "results_total": 4,
                                            "results": [
                                                {
                                                    "collection_type": "node",
                                                    "description": "Payment processing node templates",
                                                    "modified": 1748533179,
                                                    "name": "Payment Nodes",
                                                    "sequence": 16,
                                                    "subject": "ms.hub.config.collection.node.805092869",
                                                    "topic": "805092869",
                                                    "type": "created"
                                                },
                                                {
                                                    "collection_type": "node",
                                                    "description": "Utility functions for data transformation",
                                                    "modified": 1748533200,
                                                    "name": "Data Transform Nodes",
                                                    "sequence": 24,
                                                    "subject": "ms.hub.config.collection.node.1025086208",
                                                    "topic": "1025086208",
                                                    "type": "updated"
                                                },
                                                {
                                                    "collection_type": "workflow",
                                                    "description": "Order lifecycle management",
                                                    "modified": 1748533250,
                                                    "name": "Order Flows",
                                                    "sequence": 31,
                                                    "subject": "ms.hub.config.collection.workflow.1508781670",
                                                    "topic": "1508781670",
                                                    "type": "created"
                                                },
                                                {
                                                    "collection_type": "workflow",
                                                    "description": "",
                                                    "modified": 1748533300,
                                                    "name": "Notification Flows",
                                                    "sequence": 45,
                                                    "subject": "ms.hub.config.collection.workflow.2098761234",
                                                    "topic": "2098761234",
                                                    "type": "created"
                                                }
                                            ]
                                        }
                                    },
                                    "NodeCollectionsOnly": {
                                        "summary": "List node collections only",
                                        "value": {
                                            "results_total": 2,
                                            "results": [
                                                {
                                                    "collection_type": "node",
                                                    "description": "Payment processing node templates",
                                                    "modified": 1748533179,
                                                    "name": "Payment Nodes",
                                                    "sequence": 16,
                                                    "subject": "ms.hub.config.collection.node.805092869",
                                                    "topic": "805092869",
                                                    "type": "created"
                                                },
                                                {
                                                    "collection_type": "node",
                                                    "description": "Utility functions for data transformation",
                                                    "modified": 1748533200,
                                                    "name": "Data Transform Nodes",
                                                    "sequence": 24,
                                                    "subject": "ms.hub.config.collection.node.1025086208",
                                                    "topic": "1025086208",
                                                    "type": "updated"
                                                }
                                            ]
                                        }
                                    },
                                    "WorkflowCollectionsOnly": {
                                        "summary": "List workflow collections only",
                                        "value": {
                                            "results_total": 2,
                                            "results": [
                                                {
                                                    "collection_type": "workflow",
                                                    "description": "Order lifecycle management",
                                                    "modified": 1748533250,
                                                    "name": "Order Flows",
                                                    "sequence": 31,
                                                    "subject": "ms.hub.config.collection.workflow.1508781670",
                                                    "topic": "1508781670",
                                                    "type": "created"
                                                },
                                                {
                                                    "collection_type": "workflow",
                                                    "description": "",
                                                    "modified": 1748533300,
                                                    "name": "Notification Flows",
                                                    "sequence": 45,
                                                    "subject": "ms.hub.config.collection.workflow.2098761234",
                                                    "topic": "2098761234",
                                                    "type": "created"
                                                }
                                            ]
                                        }
                                    },
                                    "EmptyResult": {
                                        "summary": "No collections found",
                                        "value": {
                                            "results_total": 0,
                                            "results": []
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "InvalidSubject": {
                                        "value": {
                                            "error": "invalid subject"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hub/collections/{collection_type}/{collection_topic}": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/collectionType"
                },
                {
                    "$ref": "#/components/parameters/collectionTopic"
                }
            ],
            "get": {
                "tags": [
                    "Collections"
                ],
                "summary": "Get a collection",
                "description": "Retrieves a specific collection",
                "operationId": "getCollection",
                "x-resource-type": "service",
                "x-resource": "microstrate.hub.get.collection",
                "responses": {
                    "200": {
                        "description": "Collection retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCollectionResponse"
                                },
                                "examples": {
                                    "NodeCollection": {
                                        "summary": "Retrieved node collection",
                                        "value": {
                                            "collection_type": "node",
                                            "description": "Payment processing node templates",
                                            "modified": 1748533179,
                                            "name": "Payment Nodes",
                                            "sequence": 16,
                                            "subject": "ms.hub.config.collection.node.805092869",
                                            "topic": "805092869",
                                            "type": "created"
                                        }
                                    },
                                    "WorkflowCollection": {
                                        "summary": "Retrieved workflow collection",
                                        "value": {
                                            "collection_type": "workflow",
                                            "description": "Order lifecycle management workflows",
                                            "modified": 1748533250,
                                            "name": "Order Flows",
                                            "sequence": 124,
                                            "subject": "ms.hub.config.collection.workflow.1508781670",
                                            "topic": "1508781670",
                                            "type": "updated"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "InvalidSubject": {
                                        "value": {
                                            "error": "invalid subject"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Collections"
                ],
                "summary": "Update a Workflow or Node collection",
                "description": "Updates an existing collection's properties",
                "operationId": "updateFlowOrNodeCollection",
                "x-resource-type": "service",
                "x-resource": "microstrate.hub.patch.collection",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCollectionRequest"
                            },
                            "examples": {
                                "UpdateDescription": {
                                    "summary": "Update collection description",
                                    "value": {
                                        "subject": "ms.hub.config.collection.node.805092869",
                                        "description": "Updated: Payment and billing node templates for all transaction types"
                                    }
                                },
                                "ClearDescription": {
                                    "summary": "Clear collection description",
                                    "value": {
                                        "subject": "ms.hub.config.collection.workflow.1508781670",
                                        "description": ""
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Collection updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                },
                                "example": {
                                    "message": "success"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "SubjectRequired": {
                                        "value": {
                                            "error": "a subject is required"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Collection not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": "collection does not exists"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Collections"
                ],
                "summary": "Delete a collection",
                "description": "Deletes a specific collection by subject",
                "operationId": "deleteCollection",
                "x-resource-type": "service",
                "x-resource": "microstrate.hub.delete.collection",
                "parameters": [
                    {
                        "name": "move_resources_to_collection",
                        "in": "query",
                        "description": "A topic of another collection where resources can be moved",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "993267890"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Collection deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                },
                                "example": {
                                    "message": "success"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "InvalidSubject": {
                                        "value": {
                                            "error": "invalid subject"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "CollectionNotFount": {
                                        "value": {
                                            "error": "collection not found"
                                        }
                                    },
                                    "NewResourceCollectionNotFount": {
                                        "value": {
                                            "error": "the new resource collection is not found"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hub/nodes": {
            "post": {
                "tags": [
                    "Nodes"
                ],
                "summary": "Create a new node",
                "description": "Creates a new node template within a collection",
                "operationId": "createNode",
                "x-resource-type": "service",
                "x-resource": "microstrate.hub.post.node",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateNodeRequest"
                            },
                            "examples": {
                                "FunctionNode": {
                                    "summary": "Create a function node",
                                    "value": {
                                        "collection": "ms.hub.config.collection.node.805092869",
                                        "data": {
                                            "id": "PROCESS_PAYMENT",
                                            "name": "ProcessPayment",
                                            "description": "Processes a payment transaction via Stripe",
                                            "node_type": "function",
                                            "subject": "ms.compute.9153241292.function.912643023",
                                            "payload": {
                                                "amount": "$.trigger.amount",
                                                "currency": "$.trigger.currency",
                                                "customer_id": "$.trigger.customer_id"
                                            },
                                            "options": {
                                                "timeout": 30000,
                                                "attempts": 3,
                                                "backoff_ms": 1000
                                            }
                                        }
                                    }
                                },
                                "MapNode": {
                                    "summary": "Create a map/transformation node using json path",
                                    "value": {
                                        "collection": "ms.hub.config.collection.node.1025086208",
                                        "data": {
                                            "id": "TRANSFORM_ORDER_DATA",
                                            "name": "TransformOrderData",
                                            "description": "Transforms order data for downstream processing",
                                            "node_type": "map",
                                            "payload": {
                                                "order_id": "$.trigger.id",
                                                "total_amount": "$.ITEMS_TOTAL",
                                                "customer": {
                                                    "email": "$.trigger.customer.email",
                                                    "name": "$.trigger.customer.full_name"
                                                }
                                            }
                                        }
                                    }
                                },
                                "ConditionNode": {
                                    "summary": "Create a condition/branching node",
                                    "value": {
                                        "collection": "ms.hub.config.collection.node.805092869",
                                        "data": {
                                            "id": "CHECK_ORDER_AMOUNT",
                                            "name": "CheckOrderAmount",
                                            "description": "Routes high-value orders to priority processing",
                                            "node_type": "condition",
                                            "payload": [
                                                {
                                                    "condition": {
                                                        "operator": ">",
                                                        "input": [
                                                            "$.GET_ORDER.amount",
                                                            100
                                                        ]
                                                    },
                                                    "outcome": "PRIORITISE"
                                                },
                                                {
                                                    "outcome": "RESOLVE_SUCCESS"
                                                }
                                            ]
                                        }
                                    }
                                },
                                "EvalNode": {
                                    "summary": "Create an eval node for to run javascript expressions",
                                    "value": {
                                        "collection": "ms.hub.config.collection.node.1025086208",
                                        "data": {
                                            "id": "CALCULATE_DISCOUNT",
                                            "name": "CalculateDiscount",
                                            "description": "Calculates discount based on order value",
                                            "node_type": "eval",
                                            "payload": {
                                                "code": "total > 500 ? total * 0.1 : total * 0.05",
                                                "params": {
                                                    "total": "$.trigger.total"
                                                }
                                            }
                                        }
                                    }
                                },
                                "FlowNode": {
                                    "summary": "Create a flow invocation node",
                                    "value": {
                                        "collection": "ms.hub.config.collection.node.805092869",
                                        "data": {
                                            "id": "SEND_NOTIFICATION",
                                            "name": "SendNotification",
                                            "description": "Invokes the notification workflow",
                                            "node_type": "flow",
                                            "subject": "ms.hub.config.workflow.1508781670.1961275695",
                                            "payload": {
                                                "recipient": "$.trigger.customer.email",
                                                "template": "order_confirmation",
                                                "amount": "$.PRICING.total"
                                            },
                                            "await": false
                                        }
                                    }
                                },
                                "IntegrationNode": {
                                    "summary": "Create an integration node",
                                    "value": {
                                        "collection": "ms.hub.config.collection.node.805092869",
                                        "data": {
                                            "id": "SLACK_NOTIFY",
                                            "name": "SlackNotify",
                                            "description": "Sends notification to Slack channel",
                                            "node_type": "integration",
                                            "subject": "integration.slack.post-message",
                                            "payload": {
                                                "url": "/chat.postMessage",
                                                "method": "post",
                                                "headers": {
                                                    "Authorization": "SECRET::SLACK_BOT_TOKEN::",
                                                    "Content-Type": "multipart/form-data"
                                                },
                                                "data": {
                                                    "channel": "<string>",
                                                    "text": "<string>"
                                                },
                                                "baseURL": "https://slack.com/api"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Node created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateNodeResponse"
                                },
                                "examples": {
                                    "FunctionNodeCreated": {
                                        "summary": "Function node created",
                                        "value": {
                                            "subject": "ms.hub.config.node.805092869.98765432",
                                            "collection": "ms.hub.config.collection.node.805092869",
                                            "data": {
                                                "id": "98765432",
                                                "name": "ProcessPayment",
                                                "description": "Processes a payment transaction via Stripe",
                                                "node_type": "function",
                                                "subject": "ms.compute.9153241292.function.912643023",
                                                "payload": {
                                                    "amount": "$.trigger.amount",
                                                    "currency": "$.trigger.currency",
                                                    "customer_id": "$.trigger.customer_id"
                                                },
                                                "options": {
                                                    "timeout": 30000,
                                                    "attempts": 3,
                                                    "backoff_ms": 1000
                                                }
                                            },
                                            "type": "created",
                                            "modified": 1748533179
                                        }
                                    },
                                    "MapNodeCreated": {
                                        "summary": "Map node created",
                                        "value": {
                                            "subject": "ms.hub.config.node.1025086208.12345678",
                                            "collection": "ms.hub.config.collection.node.1025086208",
                                            "data": {
                                                "id": "12345678",
                                                "name": "TransformOrderData",
                                                "description": "Transforms order data for downstream processing",
                                                "node_type": "map",
                                                "payload": {
                                                    "order_id": "$.trigger.id",
                                                    "total_amount": "$.trigger.items | sum('price')"
                                                }
                                            },
                                            "type": "created",
                                            "modified": 1748533200
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "NameRequired": {
                                        "value": {
                                            "error": "data.name is required"
                                        }
                                    },
                                    "CollectionRequired": {
                                        "value": {
                                            "error": "a collection subject is required"
                                        }
                                    },
                                    "InvalidCollection": {
                                        "value": {
                                            "error": "invalid collection subject"
                                        }
                                    },
                                    "PayloadRequired": {
                                        "value": {
                                            "error": "payload is required"
                                        }
                                    },
                                    "FunctionSubjectRequired": {
                                        "value": {
                                            "error": "a function subject is required"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "CollectionNotFound": {
                                        "value": {
                                            "error": "collection not found"
                                        }
                                    },
                                    "FunctionNotFound": {
                                        "value": {
                                            "error": "function not found"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Node already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": "node exists:ms.hub.config.node.1234567890.98765432"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Nodes"
                ],
                "summary": "List node templates",
                "description": "Retrieves a list of node templates, optionally filtered by collection and type",
                "operationId": "listNodeTemplates",
                "x-resource-type": "service",
                "x-resource": "microstrate.hub.get.list-nodes",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/queryCollectionTopic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Nodes retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListNodesResponse"
                                },
                                "examples": {
                                    "AllNodes": {
                                        "summary": "List all nodes",
                                        "value": {
                                            "results_total": 3,
                                            "results": [
                                                {
                                                    "subject": "ms.hub.config.node.805092869.98765432",
                                                    "collection": "ms.hub.config.collection.node.805092869",
                                                    "data": {
                                                        "id": "98765432",
                                                        "name": "ProcessPayment",
                                                        "description": "Processes payment via Stripe",
                                                        "node_type": "function",
                                                        "subject": "ms.compute.9153241292.function.912643023",
                                                        "payload": {
                                                            "amount": "$.trigger.amount"
                                                        }
                                                    },
                                                    "type": "created",
                                                    "modified": 1748533179
                                                },
                                                {
                                                    "subject": "ms.hub.config.node.805092869.11223344",
                                                    "collection": "ms.hub.config.collection.node.805092869",
                                                    "data": {
                                                        "id": "11223344",
                                                        "name": "ValidateCard",
                                                        "node_type": "function",
                                                        "subject": "ms.compute.9279840291.function.636343114",
                                                        "payload": {
                                                            "card_number": "$.trigger.card"
                                                        }
                                                    },
                                                    "type": "updated",
                                                    "modified": 1748533200
                                                },
                                                {
                                                    "subject": "ms.hub.config.node.1025086208.55667788",
                                                    "collection": "ms.hub.config.collection.node.1025086208",
                                                    "data": {
                                                        "id": "55667788",
                                                        "name": "TransformData",
                                                        "node_type": "map",
                                                        "payload": {
                                                            "output": "$.trigger.input | uppercase"
                                                        }
                                                    },
                                                    "type": "created",
                                                    "modified": 1748533250
                                                }
                                            ]
                                        }
                                    },
                                    "FilteredByCollection": {
                                        "summary": "Nodes filtered by collection",
                                        "value": {
                                            "results_total": 2,
                                            "results": [
                                                {
                                                    "subject": "ms.hub.config.node.805092869.98765432",
                                                    "collection": "ms.hub.config.collection.node.805092869",
                                                    "data": {
                                                        "id": "98765432",
                                                        "name": "ProcessPayment",
                                                        "node_type": "function",
                                                        "payload": {},
                                                        "subject": "ms.compute.9153241292.function.912643023"
                                                    },
                                                    "type": "created",
[...]
